<div class="container">
    <h2>Manage Website Alerts</h2>

    <div ng-if="hasAccess">
        <h3>Add New Alert</h3>
        <form ng-submit="createAlert(newAlert)">
            <div class="sdOpen">
                <div alerts-item-fields alertdata="newAlert" list="data"></div>
                <div class="row form-group text-center">
                    <button type="submit" class="btn btn-success"
                            ng-disabled="uploading ||
                                         newAlert.message.length < 1 ||
                                         newAlert.dateStart.length < 1 ||
                                         newAlert.dateEnd.length < 1">
                        Create New Alert
                    </button><br>
                    {{newAlert.formResponse}}
                </div>
            </div>
        </form>

        <h3>Alerts</h3>
        <div class="row form-inline">
            <div class="form-group col-md-12">
                <label for="filterBy">Filter <small>{{filteredList.length}}</small> results by</label>
                <div id="filterBy">
                    <input type="text" class="form-control" placeholder="Message contains" ng-model="alertFilter">
                </div>
            </div>
        </div>
        <div class="text-center">
            <pagination total-items="filteredList.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                        boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredList.length > perPage"></pagination>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th class="hidden-xs">
                        <a ng-click="sortBy(0)"
                           ng-class="{'sortable': !sortModes[0].reverse && sortMode == 0, 'sortable-reverse': sortModes[0].reverse && sortMode == 0}">
                            Message
                        </a>
                    </th>
                    <th class="hidden-xs">
                        <a ng-click="sortBy(1)"
                           ng-class="{'sortable': !sortModes[1].reverse && sortMode == 1, 'sortable-reverse': sortModes[1].reverse && sortMode == 1}">
                            Type
                        </a>
                    </th>
                    <th class="hidden-xs">
                        <a ng-click="sortBy(2)"
                           ng-class="{'sortable': !sortModes[2].reverse && sortMode == 2, 'sortable-reverse': sortModes[2].reverse && sortMode == 2}">
                            Start Date
                        </a>
                    </th>
                    <th class="hidden-xs">
                        <a ng-click="sortBy(3)"
                           ng-class="{'sortable': !sortModes[3].reverse && sortMode == 3, 'sortable-reverse': sortModes[3].reverse && sortMode == 3}">
                            End Date
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="alert in filteredList = (data.alerts | filter:{message:alertFilter}
                                                                    | orderBy:sortModes[sortMode].by:sortModes[sortMode].reverse)
                                                                    | startFrom:(currentPage-1)*perPage
                                                                    | limitTo:perPage">
                    <td>
                        <h4 ng-click="toggleAlerts(alert)" style="cursor: pointer;">
                            <a>
                                <span class="fa fa-fw fa-caret-right" ng-hide="alert.show"></span>
                                <span class="fa fa-fw fa-caret-down" ng-show="alert.show"></span>
                                {{alert.message}}
                            </a>
                        </h4>
                        <div ng-show="alert.show">
                            <form ng-submit="updateAlert(alert)">
                                <div alerts-item-fields alertdata="alert" list="data"></div>
                                <div class="row form-group text-center">
                                    <button type="submit" class="btn btn-success"
                                            ng-disabled="uploading ||
                                             alert.message.length < 1 ||
                                             alert.dateStart.length < 1 ||
                                             alert.dateEnd.length < 1">
                                        Update Alert
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-click="deleteAlert(alert)"
                                            ng-disabled="uploading">
                                        Delete Alert
                                    </button>
                                    <br>
                                    {{alert.formResponse}}
                                </div>
                            </form>
                        </div>
                    </td>
                    <td ng-click="toggleAlerts(alert)" style="cursor: pointer;">
                        <h4>
                            <small ng-if="alert.selType.value == 0"><span class="label label-success">success</span></small>
                            <small ng-if="alert.selType.value == 1"><span class="label label-warning">warning</span></small>
                            <small ng-if="alert.selType.value == 2"><span class="label label-danger">danger</span></small>
                        </h4>
                    </td>
                    <td ng-click="toggleAlerts(alert)" style="cursor: pointer;">
                        {{alert.dateStart | date : 'MMM d, y'}}
                    </td>
                    <td ng-click="toggleAlerts(alert)" style="cursor: pointer;">
                        {{alert.dateEnd | date : 'MMM d, y'}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <pagination total-items="filteredList.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                        boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredList.length > perPage"></pagination>
        </div>
    </div>
    <div ng-if="!hasAccess">
        <h3>Sorry, you don't have permissions to edit alerts</h3>
    </div>
</div>