<div class="row">
    <div class="col-xs-12 col-sm-6 form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" placeholder="Slide Title" ng-model="slide.title"
               id="title" maxlength="150" required>
    </div>
    <div class="col-xs-12 col-sm-6 form-group">
        <label for="url">URL</label>
        <input type="text" class="form-control" placeholder="Link URK" ng-model="slide.url"
               id="url" maxlength="1024" required>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-3 form-group">
        <label for="priority">Priority</label>
        <input type="number" class="form-control" placeholder="13" ng-model="slide.tmpPriority"
               id="priority" required>
    </div>
    <div class="col-xs-6 col-sm-3 form-group">
        <label for="browse">Select Image</label>
        <div id="browse">
            <button type="file" ngf-select="" ng-model="slide.picFile" accept="image/*" ngf-multiple="false"
                    ngf-change="generateThumb($files, slide)" class="btn btn-primary">
                <span class="fa fa-fw fa-plus"></span>Browse
            </button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 form-group">
        <label for="selected">Selected Image</label>
        <div id="selected">
            <div ng-repeat="img in slide.selectedFiles">
                <img ngf-src="img" width="150px" height="100px">
                <button type="button" class="btn btn-danger" ng-click="slide.selectedFiles.splice($index,1)">
                    <span class="fa fa-fw fa-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
