<div>
    <div class="row form-inline">
        <div class="form-group col-md-12">
            <label for="filterBy">Filter <small>{{filteredExh.length}}</small> results by</label>
            <div id="filterBy">
                <input type="text" class="form-control" placeholder="Title contains" ng-model="titleFilter">
                <input type="text" class="form-control" placeholder="Description contains" ng-model="descrFilter">
            </div>
            <label for="sortBy">Sort by</label>
            <div id="sortBy">
                <button type="button" class="btn btn-default" ng-model="sortButton" btn-radio="0" ng-click="sortBy(0)">
                    Title
                    <span class="fa fa-fw fa-long-arrow-down" ng-show="!sortModes[0].reverse"></span>
                    <span class="fa fa-fw fa-long-arrow-up" ng-show="sortModes[0].reverse"></span>
                </button>
                <button type="button" class="btn btn-default" ng-model="sortButton" btn-radio="1" ng-click="sortBy(1)">
                    Date Active From
                    <span class="fa fa-fw fa-long-arrow-down" ng-show="!sortModes[1].reverse"></span>
                    <span class="fa fa-fw fa-long-arrow-up" ng-show="sortModes[1].reverse"></span>
                </button>
                <button type="button" class="btn btn-default" ng-model="sortButton" btn-radio="2" ng-click="sortBy(2)">
                    Date Active Until
                    <span class="fa fa-fw fa-long-arrow-down" ng-show="!sortModes[2].reverse"></span>
                    <span class="fa fa-fw fa-long-arrow-up" ng-show="sortModes[2].reverse"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="text-center">
        <pagination total-items="filteredExh.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                    boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredExh.length > 0"></pagination>
    </div>
    <div class="row"
         ng-repeat="exh in filteredExh = (data.exhibitions | filter:{title:titleFilter}
                                                            | filter:{description:descrFilter}
                                                            | orderBy:sortModes[sortMode].by:sortModes[sortMode].reverse)
        | startFrom:(currentPage-1)*perPage | limitTo:perPage"
         ng-class="{sdOpen: exh.show, sdOver: exh.sid == mOver}" ng-mouseover="setOver(exh)">
        <div class="col-md-12" ng-click="toggleExhibitions(exh)">
            <table class="table">
                <tr>
                    <td style="width: 15px;">
                        <span class="fa fa-fw fa-caret-right" ng-hide="exh.show"></span>
                        <span class="fa fa-fw fa-caret-down" ng-show="exh.show"></span>
                    </td>
                    <td style="width:64px">
                        <img ng-hide="exh.picFile[0] != null" src="{{exh.img}}" class="thumb" width="64px" height="64px">
                        <img ng-show="exh.picFile[0] != null" ngf-src="exh.picFile[0]" class="thumb" width="64px" height="64px">
                    </td>
                    <td>
                        <div class="col-md-8">
                            <h4>
                                {{exh.title}}
                            </h4>
                            <h4 style="text-align: justify;"><small>{{exh.description}}</small></h4>
                        </div>
                        <div class="col-md-2">
                            <h5>{{exh.activeFrom | date : 'MMM d, y'}}</h5>
                        </div>
                        <div class="col-md-2">
                            <h5>{{exh.activeUntil | date : 'MMM d, y'}}</h5>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="exh.show">
            <form name="editNewsExh{{exh.sid}}" ng-submit="updateExhibition(exh)">
                <div class="col-md-12">
                    <div class="col-md-6 form-group">
                        <label for="{{exh.sid}}_up">Upload Icon</label>
                        <input type="file" ngf-select="" ng-model="exh.picFile" accept="image/png"
                               ngf-change="generateThumb(exh.picFile[0], $files)" id="{{exh.sid}}_up">
                        <span class="progress" ng-show="exh.picFile[0].progress >= 0">
                            <div class="ng-binding" style="width:{{exh.picFile[0].progress}}%" ng-bind="exh.picFile[0].progress + '%'"></div>
                        </span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="{{exh.sid}}_title">Title</label>
                        <input type="text" class="form-control" placeholder="{{exh.title}}" ng-model="exh.title"
                               id="{{exh.sid}}_title">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3 form-group">
                        <label for="{{exh.sid}}_blurb">Short Description</label>
                        <textarea class="form-control" rows="3" id="{{exh.sid}}_blurb" ng-model="exh.blurb" ></textarea>
                    </div>
                    <div class="col-md-9 form-group">
                        <label for="{{exh.sid}}_descr">Detailed Description</label>
                        <textarea class="form-control" rows="3" id="{{exh.sid}}_descr" ng-model="exh.description" ></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 form-group">
                        <label for="{{exh.sid}}_from">Active From</label>
                        <input type="text" class="form-control" id="{{exh.sid}}_from" datepicker-popup="{{dpFormat}}"
                               ng-model="exh.activeFrom" is-open="exh.dpFrom" ng-required="true" close-text="Close"
                               ng-focus="onExhDPFocusFrom($event, $index)"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="{{exh.sid}}_until">Active Until</label>
                        <input type="text" class="form-control" id="{{exh.sid}}_until" datepicker-popup="{{dpFormat}}"
                               ng-model="exh.activeUntil" is-open="exh.dpUntil" ng-required="true" close-text="Close"
                               ng-focus="onExhDPFocusUntil($event, $index)"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="{{exh.sid}}_contact">Contact Person</label>
                        <select class="form-control" id="{{exh.sid}}_contact" ng-options="people.fullName for people in data.people"
                                ng-model="exh.contactID">
                        </select>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success">Update information</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteExhibition(exh)">
                        Delete Exhibition
                    </button>
                    {{exh.formResponse}}
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-center">
    <pagination total-items="filteredExh.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredExh.length > 0"></pagination>
</div>
<div class="text-center">
    <h4 ng-show="filteredExh.length == 0">Nothing found</h4>
</div>

<h3>Add Exhibition Record</h3>
<form name="addNewsExh" ng-submit="createExhibition()">
    <div class="row sdOpen">
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label for="up">Upload Icon</label>
                <input type="file" ngf-select="" ng-model="newExh.picFile" accept="image/png"
                       ngf-change="generateThumb(newExh.picFile[0], $files)" id="up">
                        <span class="progress" ng-show="newExh.picFile[0].progress >= 0">
                            <div class="ng-binding" style="width:{{newExh.picFile[0].progress}}%" ng-bind="newExh.picFile[0].progress + '%'"></div>
                        </span>
            </div>
            <div class="col-md-6 form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" placeholder="Enter Title" ng-model="newExh.title"
                       id="title">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 form-group">
                <label for="blurb">Short Description</label>
                <textarea class="form-control" rows="3" id="blurb" ng-model="newExh.blurb" ></textarea>
            </div>
            <div class="col-md-9 form-group">
                <label for="descr">Detailed Description</label>
                <textarea class="form-control" rows="3" id="descr" ng-model="newExh.description" ></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 form-group">
                <label for="from">Active From</label>
                <input type="text" class="form-control" id="from" datepicker-popup="{{dpFormat}}"
                       ng-model="newExh.activeFrom" is-open="newExh.dpFrom" ng-required="true" close-text="Close"
                       ng-focus="onExhDPFocusFrom($event)"/>
            </div>
            <div class="col-md-4 form-group">
                <label for="until">Active Until</label>
                <input type="text" class="form-control" id="until" datepicker-popup="{{dpFormat}}"
                       ng-model="newExh.activeUntil" is-open="newExh.dpUntil" ng-required="true" close-text="Close"
                       ng-focus="onExhDPFocusUntil($event)"/>
            </div>
            <div class="col-md-4 form-group">
                <label for="contact">Contact Person</label>
                <select class="form-control" id="contact" ng-options="people.fullName for people in data.people"
                        ng-model="newExh.contactID">
                </select>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-success">Create Exhibition Record</button>
            {{newExh.formResponse}}
        </div>
    </div>
</form>

