<div>
    <h3>Add News Record</h3>
    <form name="addNewsExh" ng-submit="createNews()">
        <div class="row sdOpen">
            <div class="col-md-12">
                <div class="col-md-3 form-group">
                    <label for="up">Upload Icon</label>
                    <input type="file" ngf-select="" ng-model="newNews.picFile" accept="image/png"
                           ngf-change="generateThumb(newNews.picFile[0], $files)" id="up">
                        <span class="progress" ng-show="newNews.picFile[0].progress >= 0">
                            <div class="ng-binding" style="width:{{newNews.picFile[0].progress}}%" ng-bind="newNews.picFile[0].progress + '%'"></div>
                        </span>
                </div>
                <div class="col-md-5 form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" placeholder="Enter Title" ng-model="newNews.title"
                           id="title">
                </div>
                <div class="col-md-2 form-group">
                    <label for="from">Active From</label>
                    <input type="text" class="form-control" id="from" datepicker-popup="{{dpFormat}}"
                           ng-model="newNews.activeFrom" is-open="newNews.dpFrom" ng-required="true" close-text="Close"
                           ng-focus="onNewsDPFocusFrom($event)"/>
                </div>
                <div class="col-md-2 form-group">
                    <label for="until">Active Until</label>
                    <input type="text" class="form-control" id="until" datepicker-popup="{{dpFormat}}"
                           ng-model="newNews.activeUntil" is-open="newNews.dpUntil" ng-required="true" close-text="Close"
                           ng-focus="onNewsDPFocusUntil($event)"/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-10 form-group">
                    <label for="blurb">Short Description</label>
                    <textarea class="form-control" rows="1" id="blurb" ng-model="newNews.blurb" ></textarea>
                </div>
                <div class="col-md-2 form-group">
                    <label for="type">Type</label>
                    <select class="form-control" id="type" ng-options="type.name for type in types"
                            ng-model="newNews.selType">
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 form-group">
                    <label>Detailed Description</label>
                    <textarea data-ui-tinymce id="description" data-ng-model="newNews.description" rows="5"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <h4><small>Select contact person from the list or enter new contact information</small></h4>
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="contact1">Library Faculty and Staff</label>
                        <select class="form-control" id="contact1" ng-options="people.fullName for people in data.people"
                                ng-model="newNews.contactID">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="contact2">Name</label>
                        <input type="text" class="form-control" placeholder="Contact Name" ng-model="newNews.contactName"
                               id="contact2">
                    </div>
                    <div class="col-md-3">
                        <label for="contact3">Email</label>
                        <input type="text" class="form-control" placeholder="Contact Email" ng-model="newNews.contactEmail"
                               id="contact3">
                    </div>
                    <div class="col-md-3">
                        <label for="contact4">Phone</label>
                        <input type="text" class="form-control" placeholder="Contact Phone" ng-model="newNews.contactPhone"
                               id="contact4">
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success">Create New Record</button><br>
                {{newNews.formResponse}}
            </div>
        </div>
    </form>

    <h3>News</h3>
    <div class="row form-inline">
        <div class="form-group col-md-12">
            <label for="filterBy">Filter <small>{{filteredNews.length}}</small> results by</label>
            <div id="filterBy">
                <input type="text" class="form-control" placeholder="Title contains" ng-model="titleFilter">
                <input type="text" class="form-control" placeholder="Description contains" ng-model="descrFilter">
            </div>
        </div>
    </div>
    <div class="text-center">
        <pagination total-items="filteredNews.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                    boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredNews.length > perPage"></pagination>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th style="width:80px">
                    Thumbnail
                </th>
                <th class="hidden-xs">
                    <a
                       ng-click="sortBy(0)"
                       ng-class="{'sortable': !sortModes[0].reverse && sortMode == 0, 'sortable-reverse': sortModes[0].reverse && sortMode == 0}">
                        Details
                    </a>
                </th>
                <th class="hidden-xs" style="width: 5%">
                    <a
                            ng-click="sortBy(3)"
                            ng-class="{'sortable': !sortModes[3].reverse && sortMode == 3, 'sortable-reverse': sortModes[3].reverse && sortMode == 3}">
                        Type
                    </a>
                </th>
                <th class="hidden-xs" style="width: 8%">
                    <a
                       ng-click="sortBy(1)"
                       ng-class="{'sortable': !sortModes[1].reverse && sortMode == 1, 'sortable-reverse': sortModes[1].reverse && sortMode == 1}">
                        Start Date
                    </a>
                </th>
                <th class="hidden-xs" style="width: 8%">
                    <a
                       ng-click="sortBy(2)"
                       ng-class="{'sortable': !sortModes[2].reverse && sortMode == 2, 'sortable-reverse': sortModes[2].reverse && sortMode == 2}">
                        Finish Date
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="news in filteredNews = (data.news | filter:{title:titleFilter}
                                                             | filter:{description:descrFilter}
                                                             | orderBy:sortModes[sortMode].by:sortModes[sortMode].reverse)
                                                             | startFrom:(currentPage-1)*perPage
                                                             | limitTo:perPage"
                >
                <td ng-click="toggleNews(news)">
                    <table>
                        <tr>
                            <td>
                                <a>
                                    <span class="fa fa-fw fa-caret-right" ng-hide="news.show"></span>
                                    <span class="fa fa-fw fa-caret-down" ng-show="news.show"></span>
                                </a>
                            </td>
                            <td style="width:64px">
                                <img ng-hide="news.picFile[0] != null" src="{{news.img}}" class="thumb" width="64px" height="64px">
                                <img ng-show="news.picFile[0] != null" ngf-src="news.picFile[0]" class="thumb" width="64px" height="64px">
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <form name="editNewsExh{{news.nid}}" ng-submit="updateNews(news)">
                    <div class="row">
                        <div class="col-md-10">
                            <h4>
                                <span ng-hide="news.show" ng-click="toggleNews(news)"><a>{{news.title}}</a></span>
                                <span ng-show="news.show">
                                    <input type="text" class="form-control" placeholder="Title" ng-model="news.title">
                                </span>
                            </h4>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="button" class="btn btn-danger" ng-click="approveNews(news)"
                                    ng-if="news.status == 0 && isAdmin">
                                Approve
                            </button>
                        </div>
                    </div>
                    <h4 style="text-align: justify;">
                        <span ng-hide="news.show" ng-click="toggleNews(news)"><small>{{news.blurb}}</small></span>
                        <span ng-show="news.show">
                            <textarea class="form-control" rows="1" ng-model="news.blurb" ></textarea>
                        </span>
                    </h4>
                    <div ng-show="news.show">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label for="{{news.nid}}_up">Upload Icon</label>
                                <input type="file" ngf-select="" ng-model="news.picFile" accept="image/png"
                                       ngf-change="generateThumb(news.picFile[0], $files)" id="{{news.nid}}_up">
                                <span class="progress" ng-show="news.picFile[0].progress >= 0">
                                    <div class="ng-binding" style="width:{{news.picFile[0].progress}}%" ng-bind="news.picFile[0].progress + '%'"></div>
                                </span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="{{news.nid}}_from">Active From</label>
                                <input type="text" class="form-control" id="{{news.nid}}_from" datepicker-popup="{{dpFormat}}"
                                       ng-model="news.activeFrom" is-open="news.dpFrom" ng-required="true" close-text="Close"
                                       ng-focus="onNewsDPFocusFrom($event, $index)"/>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="{{news.nid}}_until">Active Until</label>
                                <input type="text" class="form-control" id="{{news.nid}}_until" datepicker-popup="{{dpFormat}}"
                                       ng-model="news.activeUntil" is-open="news.dpUntil" ng-required="true" close-text="Close"
                                       ng-focus="onNewsDPFocusUntil($event, $index)"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Detailed Description</label>
                                <textarea data-ui-tinymce id="{{news.nid}}_descr" data-ng-model="news.description" rows="5"></textarea>
                            </div>
                        </div>
                        <h4><small>Select contact person from the list or enter new contact information</small></h4>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label for="{{news.nid}}_contact1">Library Faculty and Staff</label>
                                <select class="form-control" id="{{news.nid}}_contact1" ng-options="people.fullName for people in data.people"
                                        ng-model="news.contactID">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="{{news.nid}}_contact2">Name</label>
                                <input type="text" class="form-control" placeholder="Contact Name" ng-model="news.contactName"
                                       id="{{news.nid}}_contact2">
                            </div>
                            <div class="col-md-3">
                                <label for="{{news.nid}}_contact3">Email</label>
                                <input type="text" class="form-control" placeholder="Contact Email" ng-model="news.contactEmail"
                                       id="{{news.nid}}_contact3">
                            </div>
                            <div class="col-md-3">
                                <label for="{{news.nid}}_contact4">Phone</label>
                                <input type="text" class="form-control" placeholder="Contact Phone" ng-model="news.contactPhone"
                                       id="{{news.nid}}_contact4">
                            </div>
                        </div>
                        <div class="row text-center">
                            <button type="submit" class="btn btn-success">Update information</button>
                            <button type="button" class="btn btn-danger" ng-click="deleteNews(news)">
                                Delete News
                            </button><br>
                            {{news.formResponse}}
                        </div>
                    </div>
                    </form>
                </td>
                <td class="hidden-xs" ng-click="toggleNews(news)">
                    <h5>
                        <span ng-show="news.type == 0">News</span>
                        <span ng-show="news.type == 1">Exhibit</span>
                    </h5>
                </td>
                <td class="hidden-xs" ng-click="toggleNews(news)">
                    <h5>{{news.activeFrom | date : 'MMM d, y'}}</h5>
                </td>
                <td class="hidden-xs" ng-click="toggleNews(news)">
                    <h5>{{news.activeUntil | date : 'MMM d, y'}}</h5>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center">
    <pagination total-items="filteredNews.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredNews.length > perPage"></pagination>
</div>
<div class="text-center">
    <h4 ng-show="filteredNews.length == 0">Nothing found</h4>
</div>

