<div>
    <form name="addNewsExh" ng-submit="createNews()">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 sdOpen">
                    <h3>Add News Record</h3>
                    <div class="col-md-12">
                        <div class="col-md-6 form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" placeholder="Enter Title" ng-model="newNews.title"
                                   id="title" maxlength="100" required>
                        </div>
                        <div class="col-md-2 form-group">
                            <label for="sticky">Make Sticky</label>
                            <div class="checkbox text-center" id="sticky">
                                <input type="checkbox" ng-model="newNews.sticky" ng-true-value="1" ng-false-value="0">
                            </div>
                        </div>
                        <div class="col-md-2 form-group">
                            <label for="from">Active From</label>
                            <input type="text" class="form-control" id="from" datepicker-popup="{{dpFormat}}"
                                   ng-model="newNews.activeFrom" is-open="newNews.dpFrom" close-text="Close"
                                   ng-focus="onNewsDPFocusFrom($event)"/>
                        </div>
                        <div class="col-md-2 form-group">
                            <label for="until">Active Until</label>
                            <input type="text" class="form-control" id="until" datepicker-popup="{{dpFormat}}"
                                   ng-model="newNews.activeUntil" is-open="newNews.dpUntil" close-text="Close"
                                   ng-focus="onNewsDPFocusUntil($event)"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2 form-group">
                            <label for="browse">Select Images</label>
                            <div id="browse">
                                <button type="file" ngf-select="" ng-model="newNews.picFile" accept="image/*" ngf-multiple="true"
                                   ngf-change="generateThumb(newNews.picFile, $files)" class="btn btn-success">
                                    <span class="fa fa-fw fa-plus"></span>Browse
                                </button>
                            </div>
                        </div>
                        <div class="col-md-10 form-group">
                            <label for="uploaded">Uploaded Images</label>
                            <div id="uploaded">
                                <div class="col-md-3" ng-repeat="img in newNews.picFile">
                                    <img ngf-src="img" width="150px" height="100px">
                                    <button type="button" class="btn btn-danger" ng-click="newNews.picFile.splice($index,1)">
                                        <span class="fa fa-fw fa-close"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12 form-group">
                            <label>Detailed Description</label>
                            <textarea data-ui-tinymce id="description" data-ng-model="newNews.description" rows="5"
                                      maxlength="64000" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <h4><small>Select contact person from the list or enter new contact information</small></h4>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="contact1">Library Faculty and Staff</label>
                                <select class="form-control" id="contact1" ng-options="people.fullName for people in data.people"
                                        ng-model="newNews.contactID">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="contact2">Name</label>
                                <input type="text" class="form-control" placeholder="Contact Name" ng-model="newNews.contactName"
                                       id="contact2" maxlength="60">
                            </div>
                            <div class="col-md-3">
                                <label for="contact3">Email</label>
                                <input type="text" class="form-control" placeholder="Contact Email" ng-model="newNews.contactEmail"
                                       id="contact3"  maxlength="1024">
                            </div>
                            <div class="col-md-3">
                                <label for="contact4">Phone</label>
                                <input type="text" class="form-control" placeholder="Contact Phone" ng-model="newNews.contactPhone"
                                       id="contact4" maxlength="20">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center form-group">
                        <button type="submit" class="btn btn-success" ng-disabled="uploading">Create New Record</button><br>
                        {{newNews.formResponse}}
                    </div>
                </div>
            </div>
        </div>
    </form>

    <h3>News</h3>
    <div class="row form-inline">
        <div class="form-group col-md-12">
            <label for="filterBy">Filter <small>{{filteredNews.length}}</small> results by</label>
            <div id="filterBy">
                <input type="text" class="form-control" placeholder="Title contains" ng-model="titleFilter">
                <input type="text" class="form-control" placeholder="Description contains" ng-model="descrFilter">
            </div>
        </div>
    </div>
    <div class="text-center">
        <pagination total-items="filteredNews.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                    boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredNews.length > perPage"></pagination>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th style="width:80px">
                    Thumbnail
                </th>
                <th class="hidden-xs">
                    <a
                       ng-click="sortBy(0)"
                       ng-class="{'sortable': !sortModes[0].reverse && sortMode == 0, 'sortable-reverse': sortModes[0].reverse && sortMode == 0}">
                        Details
                    </a>
                </th>
                <th class="hidden-xs" style="width: 8%">
                    <a
                       ng-click="sortBy(1)"
                       ng-class="{'sortable': !sortModes[1].reverse && sortMode == 1, 'sortable-reverse': sortModes[1].reverse && sortMode == 1}">
                        Date
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="news in filteredNews = (data.news | filter:{title:titleFilter}
                                                             | filter:{description:descrFilter}
                                                             | orderBy:sortModes[sortMode].by:sortModes[sortMode].reverse)
                                                             | startFrom:(currentPage-1)*perPage
                                                             | limitTo:perPage"
                >
                <td ng-click="toggleNews(news)" style="cursor: pointer;">
                    <table>
                        <tr>
                            <td>
                                <a>
                                    <span class="fa fa-fw fa-caret-right" ng-hide="news.show"></span>
                                    <span class="fa fa-fw fa-caret-down" ng-show="news.show"></span>
                                </a>
                            </td>
                            <td style="width:64px">
                                <img ng-hide="news.picFile[0] != null" src="{{news.images[0].image}}" class="thumb" width="64px" height="64px">
                                <img ng-show="news.picFile[0] != null" ngf-src="news.picFile[0]" class="thumb" width="64px" height="64px">
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-10">
                            <h4 style="cursor: pointer;" ng-click="toggleNews(news)">
                                <a>{{news.title}}</a>
                                <small>{{news.creator}}</small>
                            </h4>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="button" class="btn btn-danger" ng-click="approveNews(news)"
                                    ng-if="news.status == 0 && isAdmin">
                                Approve
                            </button>
                            <span ng-if="news.status == 0 && !isAdmin">Approval Pending</span>
                        </div>
                    </div>
                    <form name="editNewsExh{{news.nid}}" ng-submit="updateNews(news)" ng-if="news.show">
                    <div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="{{news.nid}}_title">Title</label>
                                <input type="text" class="form-control" placeholder="Enter Title" ng-model="news.title"
                                       id="{{news.nid}}_title" maxlength="100" required>
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="{{news.nid}}_sticky">Sticky</label>
                                <div class="checkbox text-center" id="{{news.nid}}_sticky">
                                    <input type="checkbox" ng-model="news.sticky" ng-true-value="1" ng-false-value="0">
                                </div>
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="{{news.nid}}_from">Active From</label>
                                <input type="text" class="form-control" id="{{news.nid}}_from" datepicker-popup="{{dpFormat}}"
                                       ng-model="news.activeFrom" is-open="news.dpFrom" ng-required="true" close-text="Close"
                                       ng-focus="onNewsDPFocusFrom($event, $index)"/>
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="{{news.nid}}_until">Active Until</label>
                                <input type="text" class="form-control" id="{{news.nid}}_until" datepicker-popup="{{dpFormat}}"
                                       ng-model="news.activeUntil" is-open="news.dpUntil" ng-required="true" close-text="Close"
                                       ng-focus="onNewsDPFocusUntil($event, $index)"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label for="{{news.nid}}_browse">Select Images</label>
                                <div id="{{news.nid}}_browse">
                                    <button type="file" ngf-select="" ng-model="news.picFile" accept="image/*" ngf-multiple="true"
                                            ngf-change="generateThumb(news.picFile, $files)" class="btn btn-success">
                                        <span class="fa fa-fw fa-plus"></span>Browse
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-10 form-group">
                                <label for="{{news.nid}}_uploaded">Uploaded Images</label>
                                <div id="{{news.nid}}_uploaded">
                                    <div class="col-md-3" ng-repeat="img in news.images">
                                        <img src="{{img.image}}" width="150px" height="100px">
                                        <button type="button" class="btn btn-danger" ng-click="news.images.splice($index,1)">
                                            <span class="fa fa-fw fa-close"></span>
                                        </button>
                                    </div>
                                    <div class="col-md-3" ng-repeat="img in news.picFile">
                                        <img ngf-src="img" width="150px" height="100px">
                                        <button type="button" class="btn btn-danger" ng-click="news.picFile.splice($index,1)">
                                            <span class="fa fa-fw fa-close"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Detailed Description</label>
                                <textarea data-ui-tinymce id="{{news.nid}}_descr" data-ng-model="news.description" rows="5"
                                         maxlength="64000" required></textarea>
                            </div>
                        </div>
                        <h4><small>Select contact person from the list or enter new contact information</small></h4>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label for="{{news.nid}}_contact1">Library Faculty and Staff</label>
                                <select class="form-control" id="{{news.nid}}_contact1" ng-options="people.fullName for people in data.people"
                                        ng-model="news.contactID">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="{{news.nid}}_contact2">Name</label>
                                <input type="text" class="form-control" placeholder="Contact Name" ng-model="news.contactName"
                                       id="{{news.nid}}_contact2" maxlength="60">
                            </div>
                            <div class="col-md-3">
                                <label for="{{news.nid}}_contact3">Email</label>
                                <input type="text" class="form-control" placeholder="Contact Email" ng-model="news.contactEmail"
                                       id="{{news.nid}}_contact3" maxlength="1024">
                            </div>
                            <div class="col-md-3">
                                <label for="{{news.nid}}_contact4">Phone</label>
                                <input type="text" class="form-control" placeholder="Contact Phone" ng-model="news.contactPhone"
                                       id="{{news.nid}}_contact4" maxlength="20">
                            </div>
                        </div>
                        <div class="row text-center">
                            <button type="submit" class="btn btn-success" ng-disabled="uploading">Update information</button>
                            <button type="button" class="btn btn-danger" ng-click="deleteNews(news)">
                                Delete News
                            </button><br>
                            {{news.formResponse}}
                        </div>
                    </div>
                    </form>
                </td>
                <td class="hidden-xs" ng-click="toggleNews(news)" style="cursor: pointer;">
                    <h5>{{news.created | date : 'MMM d, y'}}</h5>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center">
    <pagination total-items="filteredNews.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredNews.length > perPage"></pagination>
</div>
<div class="text-center">
    <h4 ng-show="filteredNews.length == 0">Nothing found</h4>
</div>

