<div>
    <form name="addNewsExh" ng-submit="createNews()">
        <div class="sdOpen">
            <h3>Add News Record</h3>
            <div news-item-fields-list newsdata="newNews" list="data"></div>
            <div class="row text-center form-group">
                <button type="submit" class="btn btn-success" ng-disabled="uploading">Create New Record</button><br>
                {{newNews.formResponse}}
            </div>
        </div>
    </form>

    <h3>News</h3>
    <div class="row form-inline">
        <div class="form-group col-md-12">
            <label for="filterBy">Filter <small>{{filteredNews.length}}</small> results by</label>
            <div id="filterBy">
                <input type="text" class="form-control" placeholder="Title contains" ng-model="titleFilter">
                <input type="text" class="form-control" placeholder="Description contains" ng-model="descrFilter">
            </div>
        </div>
    </div>
    <div class="text-center">
        <pagination total-items="filteredNews.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                    boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredNews.length > perPage"></pagination>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th style="width:80px">
                    Thumbnail
                </th>
                <th class="hidden-xs">
                    <a
                       ng-click="sortBy(0)"
                       ng-class="{'sortable': !sortModes[0].reverse && sortMode == 0, 'sortable-reverse': sortModes[0].reverse && sortMode == 0}">
                        Details
                    </a>
                </th>
                <th class="hidden-xs" style="width: 8%">
                    <a
                       ng-click="sortBy(1)"
                       ng-class="{'sortable': !sortModes[1].reverse && sortMode == 1, 'sortable-reverse': sortModes[1].reverse && sortMode == 1}">
                        Date
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="news in filteredNews = (data.news | filter:{title:titleFilter}
                                                             | filter:{description:descrFilter}
                                                             | orderBy:sortModes[sortMode].by:sortModes[sortMode].reverse)
                                                             | startFrom:(currentPage-1)*perPage
                                                             | limitTo:perPage"
                >
                <td ng-click="toggleNews(news)" style="cursor: pointer;">
                    <table>
                        <tr>
                            <td>
                                <a>
                                    <span class="fa fa-fw fa-caret-right" ng-hide="news.show"></span>
                                    <span class="fa fa-fw fa-caret-down" ng-show="news.show"></span>
                                </a>
                            </td>
                            <td style="width:64px">
                                <img ng-show="news.tb.length > 0" ng-src="{{news.tb}}" class="thumb" width="64px" height="64px">
                                <img ng-hide="news.tb.length > 0" ngf-src="news.selectedFiles[0]" class="thumb" width="64px" height="64px">
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-10">
                            <h4 style="cursor: pointer;" ng-click="toggleNews(news)">
                                <a>{{news.title}}</a>
                                <small>{{news.creator}}</small>
                            </h4>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="button" class="btn btn-danger" ng-click="approveNews(news)"
                                    ng-if="news.status == 0 && isAdmin">
                                Approve
                            </button>
                            <span ng-if="news.status == 0 && !isAdmin">Approval Pending</span>
                        </div>
                    </div>
                    <form name="editNewsExh{{news.nid}}" ng-submit="updateNews(news)" ng-if="news.show">
                        <div news-item-fields-list newsdata="news" list="data"></div>
                        <div class="row text-center">
                            <button type="submit" class="btn btn-success" ng-disabled="uploading">Update information</button>
                            <button type="button" class="btn btn-danger" ng-click="deleteNews(news)">
                                Delete News
                            </button><br>
                            {{news.formResponse}}
                        </div>
                    </form>
                </td>
                <td class="hidden-xs" ng-click="toggleNews(news)" style="cursor: pointer;">
                    <h5>{{news.created | date : 'MMM d, y'}}</h5>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center">
    <pagination total-items="filteredNews.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredNews.length > perPage"></pagination>
</div>
<div class="text-center">
    <h4 ng-show="filteredNews.length == 0">Nothing found</h4>
</div>

