.clickable {
    cursor: pointer;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.table-ebsco {
    width: 30px;
    background-color: rgb(170, 170, 221);
}
.table-catalog {
    width: 30px;
    background-color: rgb(128, 128, 162);
}
.table-eJournals {
    width: 30px;
    background-color: rgb(85, 85, 102);
}