<div class="container">
    <h2>OneSearch Errors</h2>

    <tabset ng-if="dataProcessed">
        <tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="tab.active">
            <div ng-if="tab.number == 0">
                <div error-graph errors="errors" range="today"></div>
            </div>
            <div ng-if="tab.number == 1" >
                <div error-graph errors="errors" range="month"></div>
            </div>
            <div ng-if="tab.number == 2" >
                <div error-graph errors="errors" range="year"></div>
            </div>
        </tab>
    </tabset>
    <table class="table-colors">
        <tr>
            <td class="table-ebsco"></td>
            <td>EBSCO API errors</td>
        </tr>
        <tr>
            <td class="table-catalog"></td>
            <td>Catalog API errors</td>
        </tr>
        <tr>
            <td class="table-eJournals"></td>
            <td>Serial Solutions eJournals errors</td>
        </tr>
    </table>

    <div class="row">
        <h3>Detailed Error List</h3>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="eEngine.engine" uib-btn-radio="0">EBSCO</label>
            <label class="btn btn-primary" ng-model="eEngine.engine" uib-btn-radio="1">Catalog</label>
            <label class="btn btn-primary" ng-model="eEngine.engine" uib-btn-radio="2">eJournals</label>
        </div>
        <div class="col-xs-12" ng-repeat="year in errors.tree[eEngine.engine].years">
            <h4 class="clickable" ng-click="year.open = !year.open">
                <a>{{year.name}}</a>
                <span class="label label-warning">{{year.counter}}</span>
            </h4>
            <div class="col-xs-12" ng-repeat="month in year.months" ng-if="year.open">
                <h5 class="clickable" ng-click="month.open = !month.open">
                    <a>{{month.name}}</a>
                    <span class="label label-warning">{{month.counter}}</span>
                </h5>
                <div class="col-xs-12" ng-repeat="day in month.days" ng-if="month.open">
                    <h6 class="clickable"  ng-click="day.open = !day.open">
                        <a>{{day.day}}</a>
                        <span class="label label-warning">{{day.counter}}</span>
                    </h6>
                    <p ng-repeat="error in day.errors" ng-if="day.open">
                        <span class="label label-info">
                            {{error}}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>