<div class="container">
    <h2>OneSearch Errors</h2>

    <tabset ng-if="dataProcessed">
        <tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="tab.active">
            <div ng-if="tab.number == 0">
                <div error-graph errors="errors" range="today"></div>
            </div>
            <div ng-if="tab.number == 1" >
                <div error-graph errors="errors" range="month"></div>
            </div>
            <div ng-if="tab.number == 2" >
                <div error-graph errors="errors" range="year"></div>
            </div>
        </tab>
    </tabset>
    <table class="table">
        <tr>
            <td class="table-ebsco"></td>
            <td>EBSCO API errors</td>
        </tr>
        <tr>
            <td class="table-catalog"></td>
            <td>Catalog API errors</td>
        </tr>
        <tr>
            <td class="table-eJournals"></td>
            <td>Serial Solutions eJournals errors</td>
        </tr>
    </table>
</div>