<h2>Hours Management

    <select class="form-control" ng-model="selLib" ng-options="lib.name for lib in allowedLibraries.libraries">
    </select>

</h2>
<h2 class="text-center">{{selLib.name}}</h2>

<p><strong>*</strong> Set From and To hours to Midnight in order to indicate Open 24 hours.</p>

<tabset justified="true">
    <tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="tab.active">
        <div ng-if="tab.number == 0">
            <div semester-list>
            </div>
        </div>
        <div ng-if="tab.number == 1" >
            <div exception-list>
            </div>
        </div>
    </tab>
</tabset>
