<div>
    <h3>Semester List</h3>
    <table class="table table-hover table-condensed" ng-repeat="semData in allowedLibraries.sem" ng-if="$index == selLib.index">
        <thead>
        <tr>
            <th>Semester</th>
            <th class="text-center" style="width:10%">Sun</th>
            <th class="text-center" style="width:10%">Mon</th>
            <th class="text-center" style="width:10%">Tue</th>
            <th class="text-center" style="width:10%">Wed</th>
            <th class="text-center" style="width:10%">Thu</th>
            <th class="text-center" style="width:10%">Fri</th>
            <th class="text-center" style="width:10%">Sat</th>
        </tr>
        </thead>
        <tr ng-repeat="sem in semData" ng-click="expandSem($event, sem)" style="cursor: pointer;">
            <th ng-hide="isExpSem(sem.dsid)">
                <h4><a>{{sem.name}}</a></h4>
                {{sem.startdate | date : 'MMM d, y'}}<br>{{sem.enddate | date : 'MMM d, y'}}
            </th>
            <th ng-if="isExpSem(sem.dsid)">
                <h4><a>{{sem.name}}</a></h4>
                <div class="col-md-7 form-group">
                    <label for="{{sem.dsid}}_startDate">Start Date</label>
                    <input type="text" class="form-control" datepicker-popup="{{format}}" size="3"
                           ng-model="sem.startdate" is-open="sem.dp" ng-required="true" close-text="Close"
                           ng-focus="onSemFocus($event, $index)" id="{{sem.dsid}}_startDate" placeholder="MM/DD/YYYY"/>
                </div>
                <div class="col-md-5 form-group">
                    <div id="{{sem.dsid}}_action">
                        <button type="button" class="btn btn-success" ng-click="saveChanges(sem)" ng-disabled="loading">
                            <span class="fa fa-fw fa-edit"></span>
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="deleteSem(sem, $index)" ng-disabled="loading">
                            <span class="fa fa-fw fa-close"></span>
                        </button><br>
                        {{result}}
                    </div>
                </div>
            </th>
            <td class="text-center" ng-repeat="day in sem.dow">
                <div ng-hide="isExpSem(sem.dsid)">
                    {{day.hours}}
                </div>
                <div ng-if="isExpSem(sem.dsid)">
                    <select class="form-control" ng-model="day.from">
                        <option ng-repeat="hours in hrsFrom" ng-selected="{{day.from == hours.value}}" ng-value="{{hours.value}}">{{hours.name}}</option>
                    </select>
                    <select class="form-control" ng-model="day.to">
                        <option ng-repeat="hours in hrsTo" ng-selected="{{day.to == hours.value}}" ng-value="{{hours.value}}">{{hours.name}}</option>
                    </select>
                </div>
            </td>
        </tr>
    </table>

    <h3>Create New Semester</h3>
    <div class="sdOpen">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Semester</th>
                <th class="text-center" style="width:10%;">Sun</th>
                <th class="text-center" style="width:10%;">Mon</th>
                <th class="text-center" style="width:10%;">Tue</th>
                <th class="text-center" style="width:10%;">Wed</th>
                <th class="text-center" style="width:10%;">Thu</th>
                <th class="text-center" style="width:10%;">Fri</th>
                <th class="text-center" style="width:10%;">Sat</th>
            </tr>
            </thead>
            <tr>
                <th>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-minlength="4" ng-maxlength="32" ng-model="newSemester.name" placeholder="Semester Name" ng-required /><br>
                        <input type="text" class="form-control" datepicker-popup="{{format}}" placeholder="Start Date (MM/DD/YYYY)"
                               ng-model="newSemester.startdate" is-open="newSemester.dp" ng-required="true" close-text="Close"
                               ng-focus="onSemFocus($event)" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" ng-click="createSem()"
                                ng-disabled="loading || newSemester.name.length < 1 || newSemester.startdate.length < 1">
                            Create New Semester
                        </button>
                    </div>
                    {{result}}
                </th>
                <td class="text-center" style="width:11%" ng-repeat="day in newSemester.dow">
                    <select class="form-control" ng-model="day.from">
                        <option ng-repeat="hours in hrsFrom" ng-selected="{{day.from == hours.value}}" ng-value="{{hours.value}}">{{hours.name}}</option>
                    </select>
                    <select class="form-control" ng-model="day.to">
                        <option ng-repeat="hours in hrsTo" ng-selected="{{day.to == hours.value}}" ng-value="{{hours.value}}">{{hours.name}}</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>