<div class="row">
    <div class="col-md-6">
        <h3>Locations</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Parent ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="Parent ID" ng-model="newLocation.parent">
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="New Location Name" ng-model="newLocation.name">
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success" ng-click="addLocation()" ng-disabled="newLocation.name.length == 0">
                        <span class="fa fa-fw fa-plus"></span>
                    </button>
                </div>
                {{locResponse}}
            </tr>
            <tr ng-repeat="location in SWList.locations" ng-click="selectLocation(location)">
                <td>
                    {{location.lid}}
                </td>
                <td>
                    <span ng-hide="selLocation == location.lid">
                        {{location.parent}}
                    </span>
                    <span ng-show="selLocation == location.lid">
                        <input type="text" class="form-control" placeholder="Parent ID" ng-model="location.parent">
                    </span>
                </td>
                <td>
                    <span ng-hide="selLocation == location.lid">
                        {{location.name}}
                    </span>
                    <span ng-show="selLocation == location.lid">
                        <input type="text" class="form-control" placeholder="Location Name" ng-model="location.name">
                    </span>
                </td>
                <td>
                    <div ng-show="selLocation == location.lid">
                        <button type="button" class="btn btn-success" ng-click="editLocation(location)">
                            <span class="fa fa-fw fa-edit"></span>
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="deleteLocation(location)">
                            <span class="fa fa-fw fa-close"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Categories</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="New Category" ng-model="newCategory">
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success" ng-click="addCategory()" ng-disabled="newCategory.length == 0">
                        <span class="fa fa-fw fa-plus"></span>
                    </button>
                </div>
                {{catResponse}}
            </tr>
            <tr ng-repeat="category in SWList.categories" ng-click="selectCategory(category)">
                <td>
                    {{category.cid}}
                </td>
                <td>
                    <span ng-hide="selCategory == category.cid">
                        {{category.name}}
                    </span>
                    <span ng-show="selCategory == category.cid">
                        <input type="text" class="form-control" placeholder="Category Name" ng-model="category.name">
                    </span>
                </td>
                <td>
                    <div ng-show="selCategory == category.cid">
                        <button type="button" class="btn btn-success" ng-click="editCategory(category)">
                            <span class="fa fa-fw fa-edit"></span>
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="deleteCategory(category)">
                            <span class="fa fa-fw fa-close"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
