
.comps-map{
    margin: 0 auto;
    position: relative;
}

.comp-normal{
    color:#428bca;
    font-size:17px;
    margin-top: -4px;
}

.comp-normal:hover{
    cursor: pointer;
    color:#333333;
    font-size:19px;
    margin-top: -4px;
}

.comp-selected{
    color: #993333;
    font-size:19px;
    margin-top: -4px;
}

.comp-turned-off{
    color:red;
}

.selected-form{
    position:absolute;
    background-color: #f9f9f9;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 4px;
    width:450px;
}

.row-clickable:hover{
    background-color:#f9f9f9;
}