<div>
    <div class="row form-inline">
        <div class="form-group col-md-12">
            <div class="col-md-6">
                <label for="filterBy">Filter <small>{{filteredSW.length}}</small> results by</label>
                <div id="filterBy">
                    <input type="text" class="form-control" placeholder="Title contains" ng-model="titleFilter">
                    <input type="text" class="form-control" placeholder="Description contains" ng-model="descrFilter">
                </div>
            </div>
            <div class="col-md-6">
                <label for="sortBy">Sort by</label>
                <div id="sortBy">
                    <button type="button" class="btn btn-default" ng-model="sortButton" btn-radio="0" ng-click="sortBy(0)">
                        Title
                        <span class="fa fa-fw fa-long-arrow-down" ng-show="!sortModes[0].reverse"></span>
                        <span class="fa fa-fw fa-long-arrow-up" ng-show="sortModes[0].reverse"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-model="sortButton" btn-radio="1" ng-click="sortBy(1)">
                        Status
                        <span class="fa fa-fw fa-long-arrow-down" ng-show="!sortModes[1].reverse"></span>
                        <span class="fa fa-fw fa-long-arrow-up" ng-show="sortModes[1].reverse"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <pagination total-items="filteredSW.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                    boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredSW.length > perPage"></pagination>
    </div>
    <div class="row row-clickable"
         ng-repeat="sw in filteredSW = (SWList.software | filter:{title:titleFilter}
                                                        | filter:{description:descrFilter}
                                                        | orderBy:sortModes[sortMode].by:sortModes[sortMode].reverse)
        | startFrom:(currentPage-1)*perPage | limitTo:perPage"
         ng-class="{sdOpen: sw.show}">
        <div class="col-md-12" ng-click="toggleSW(sw)" style="cursor: pointer;">
            <table class="table">
                <tr>
                    <td style="width: 15px;">
                        <a>
                            <span class="fa fa-fw fa-caret-right" ng-hide="sw.show"></span>
                            <span class="fa fa-fw fa-caret-down" ng-show="sw.show"></span>
                        </a>
                    </td>
                    <td style="width:64px;">
                        <img ng-hide="sw.picFile.length > 0" src="{{sw.icon}}" class="thumb" width="64px" height="64px">
                        <img ng-show="sw.picFile.length > 0" ngf-src="sw.picFile[0]" class="thumb" width="64px" height="64px">
                    </td>
                    <td>
                        <h4>
                            <a>{{sw.title}}</a>
                        </h4>
                    </td>
                    <td style="width: 79px;">
                        <button type="button" class="btn btn-danger" ng-click="publishSW(sw)" ng-show="sw.status == 0">
                            Publish
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-if="sw.show">
            <form name="editSW{{sw.sid}}" ng-submit="updateSW(sw)">
                <div software-item-fields-list swdata="sw" list="SWList"></div>
                <div class="row form-group text-center">
                    <button type="submit" class="btn btn-success">Update information</button>
                    <button type="button" class="btn btn-success" ng-click="unpublishSW(sw)" ng-hide="sw.status == 0">
                        Unpublish
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="copySW(sw)">
                        Copy to New
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteSW(sw)">
                        Delete {{sw.title}} software
                    </button><br>
                    {{sw.formResponse}}
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-center">
    <pagination total-items="filteredSW.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredSW.length > perPage"></pagination>
</div>
<div class="text-center">
    <h4 ng-show="filteredSW.length == 0">Nothing found</h4>
</div>

<h3>Add New Software</h3>
<form name="addNewSW" ng-submit="createSW()">
    <div class="sdOpen">
        <div software-item-fields-list swdata="newSW" list="SWList"></div>
        <div class="row form-group text-center">
            <button type="submit" class="btn btn-success">Create Software Record</button><br>
            {{newSW.formResponse}}
        </div>
    </div>
</form>

