<h2>Manage Software List</h2>

<div>
    <div class="row form-inline">
        <div class="form-group">
            <label for="filterBy">Filter <small>{{filteredSW.length}}</small> results by</label>
            <div id="filterBy">
                <input type="text" class="form-control" placeholder="Title contains" ng-model="titleFilter">
                <input type="text" class="form-control" placeholder="Description contains" ng-model="descrFilter">
                <input type="text" class="form-control" placeholder="Locations contain" ng-model="locationFilter">
            </div>
            <label for="sortBy">Sort by</label>
            <div id="sortBy">
                <button type="button" class="btn btn-primary" ng-model="sortButton" btn-radio="0" ng-click="sortBy(0)">
                    Title
                    <span class="fa fa-fw fa-long-arrow-down" ng-show="!sortModes[0].reverse"></span>
                    <span class="fa fa-fw fa-long-arrow-up" ng-show="sortModes[0].reverse"></span>
                </button>
                <button type="button" class="btn btn-primary" ng-model="sortButton" btn-radio="1" ng-click="sortBy(1)">
                    Location
                    <span class="fa fa-fw fa-long-arrow-down" ng-show="!sortModes[1].reverse"></span>
                    <span class="fa fa-fw fa-long-arrow-up" ng-show="sortModes[1].reverse"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="text-center">
        <pagination total-items="filteredSW.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                    boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredSW.length > 0"></pagination>
    </div>
    <div class="row"
         ng-repeat="sw in filteredSW = (SWList.software | filter:{title:titleFilter}
                                                        | filter:{description:descrFilter}
                                                        | filter:{locations:locationFilter}
                                                        | orderBy:sortModes[sortMode].by:sortModes[sortMode].reverse)
        | startFrom:(currentPage-1)*perPage | limitTo:perPage"
         ng-class="{sdOpen: sw.show, sdOver: sw.sid == mOver}" ng-mouseover="setOver(sw)">
        <div class="col-md-12" ng-click="toggleSW(sw)">
            <h4>
                <span class="fa fa-fw fa-caret-right" ng-hide="sw.show"></span>
                <span class="fa fa-fw fa-caret-down" ng-show="sw.show"></span>
                <img ng-show="sw.picFile[0] != null" ngf-src="sw.picFile[0]" class="thumb">
                {{sw.title}}
            </h4>
        </div>
        <div class="col-md-12" ng-show="sw.show">
            <form ng-submit="updateSW(sw)">
                <div class="col-md-3 form-group">
                    <label for="{{sw.sid}}_up">Upload Icon</label>
                    <input type="file" ngf-select="" ng-model="sw.picFile" accept="image/*"
                           ngf-change="generateThumb(sw.picFile[0], $files)" id="{{sw.sid}}_up">
                    <span class="progress" ng-show="sw.picFile[0].progress >= 0">
                        <div class="ng-binding" style="width:{{sw.picFile[0].progress}}%" ng-bind="sw.picFile[0].progress + '%'"></div>
                    </span>
                </div>
                <div class="col-md-6 form-group">
                    <label for="{{sw.sid}}_title">Title</label>
                    <input type="text" class="form-control" placeholder="{{sw.title}}" ng-model="sw.title"
                           id="{{sw.sid}}_title">
                </div>
                <div class="col-md-6 form-group">
                    <label for="{{sw.sid}}_descr">Description</label>
                    <textarea class="form-control" rows="2" id="{{sw.sid}}_descr" ng-model="sw.description" ></textarea>
                </div>
                <div class="col-md-6 form-group">
                    <label for="{{sw.sid}}_det">Details (Get it)</label>
                    <textarea class="form-control" rows="2" id="{{sw.sid}}_det" ng-model="sw.details" ></textarea>
                </div>
                <div class="col-md-6 form-group">
                    <label for="{{sw.sid}}_ver">Versions</label>
                    <ul class="list-group" id="{{sw.sid}}_ver">
                        <li class="list-group-item" ng-repeat="version in sw.versions">
                            <button type="button" class="btn btn-primary" ng-click="deleteVersion(sw,version)">Delete</button>
                            {{version.version}}
                            <span class="fa fa-fw fa-windows" ng-show="version.os == 1"></span>
                            <span class="fa fa-fw fa-apple" ng-show="version.os == 2"></span>
                            <span class="fa fa-fw fa-linux" ng-show="version.os == 3"></span>
                        </li>
                        <li class="list-group-item col-md-12">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Version" ng-model="sw.newVer.version">
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" ng-model="sw.newVer.selOS" ng-options="opSys.name for opSys in os">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary" ng-click="addVersion(sw)">Add Version</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 form-group">
                    <label for="{{sw.sid}}_loc">Locations</label>
                    <ul class="list-group" id="{{sw.sid}}_loc">
                        <li class="list-group-item" ng-repeat="location in sw.locations">
                            <button type="button" class="btn btn-primary" ng-click="deleteLocation(sw,location)">Delete</button>
                            {{location.name}}
                        </li>
                        <li class="list-group-item col-md-12">
                            <div class="col-md-9">
                                <select class="form-control" ng-model="sw.selLoc" ng-options="loc.name for loc in SWList.locations">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary" ng-click="addLocation(sw)">Add Location</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 form-group">
                    <label for="{{sw.sid}}_links">Links (Use it)</label>
                    <ul class="list-group" id="{{sw.sid}}_links">
                        <li class="list-group-item" ng-repeat="link in sw.links">
                            <button type="button" class="btn btn-primary" ng-click="deleteLink(sw,link)">Delete</button>
                            <a href="{{link.url}}">{{link.title}}</a>
                        </li>
                        <li class="list-group-item col-md-12">
                            <div class="col-md-5">
                                <input type="text" class="form-control" placeholder="Link Title" ng-model="sw.newLink.title">
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" placeholder="http://www.example.com/" ng-model="sw.newLink.url">
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary" ng-click="addLink(sw)">Add Link</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">Update information</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteSW(sw)">
                        Delete {{sw.title}} software
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-center">
    <pagination total-items="filteredSW.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredSW.length > 0"></pagination>
</div>
<div class="text-center">
    <h4 ng-show="filteredSW.length == 0">Nothing found</h4>
</div>

<h3>Add New Software</h3>
<form name="addNewSW" ng-submit="createSW()">
    <div class="row sdOpen">
        <div class="col-md-12">
            <div class="col-md-3 form-group">
                <label for="up">Upload Icon</label>
                <input type="file" ngf-select="" ng-model="newSW.picFile" accept="image/*"
                       ngf-change="generateThumb(newSW.picFile[0], $files)" id="up">
                    <span class="progress" ng-show="newSW.picFile[0].progress >= 0">
                        <div class="ng-binding" style="width:{{newSW.picFile[0].progress}}%" ng-bind="newSW.picFile[0].progress + '%'"></div>
                    </span>
            </div>
            <div class="col-md-6 form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" placeholder="Software Title" ng-model="newSW.title"
                       id="title">
            </div>
            <div class="col-md-6 form-group">
                <label for="descr">Description</label>
                <textarea class="form-control" rows="2" id="descr" ng-model="newSW.description" ></textarea>
            </div>
            <div class="col-md-6 form-group">
                <label for="det">Details (Get it)</label>
                <textarea class="form-control" rows="2" id="det" ng-model="newSW.details" ></textarea>
            </div>
            <div class="col-md-6 form-group">
                <label for="ver">Versions</label>
                <ul class="list-group" id="ver">
                    <li class="list-group-item" ng-repeat="version in newSW.versions">
                        <button type="button" class="btn btn-primary" ng-click="delNewSWVer(version)">Delete</button>
                        {{version.version}}
                        <span class="fa fa-fw fa-windows" ng-show="version.os == 1"></span>
                        <span class="fa fa-fw fa-apple" ng-show="version.os == 2"></span>
                        <span class="fa fa-fw fa-linux" ng-show="version.os == 3"></span>
                    </li>
                    <li class="list-group-item col-md-12">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Version" ng-model="newSW.newVer.version">
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" ng-model="newSW.newVer.selOS" ng-options="opSys.name for opSys in os">
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary" ng-click="addNewSWVer()">Add Version</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 form-group">
                <label for="loc">Locations</label>
                <ul class="list-group" id="loc">
                    <li class="list-group-item" ng-repeat="location in newSW.locations">
                        <button type="button" class="btn btn-primary" ng-click="delNewSWLoc(location)">Delete</button>
                        {{location.name}}
                    </li>
                    <li class="list-group-item col-md-12">
                        <div class="col-md-9">
                            <select class="form-control" ng-model="newSW.selLoc" ng-options="loc.name for loc in SWList.locations">
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary" ng-click="addNewSWLoc()">Add Location</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 form-group">
                <label for="links">Links (Use it)</label>
                <ul class="list-group" id="links">
                    <li class="list-group-item" ng-repeat="link in newSW.links">
                        <button type="button" class="btn btn-primary" ng-click="delNewSWLink(link)">Delete</button>
                        <a href="{{link.url}}">{{link.title}}</a>
                    </li>
                    <li class="list-group-item col-md-12">
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="Link Title" ng-model="newSW.newLink.title">
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="http://www.example.com/" ng-model="newSW.newLink.url">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" ng-click="addNewSWLink()">Add Link</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Create Software Record</button>
            </div>
        </div>
    </div>
</form>

