<div>
    <div class="row form-inline">
        <div class="form-group col-md-12">
            <div class="col-md-6">
                <label for="filterBy">Filter <small>{{filteredSW.length}}</small> results by</label>
                <div id="filterBy">
                    <input type="text" class="form-control" placeholder="Title contains" ng-model="titleFilter">
                    <input type="text" class="form-control" placeholder="Description contains" ng-model="descrFilter">
                </div>
            </div>
            <div class="col-md-6">
                <label for="sortBy">Sort by</label>
                <div id="sortBy">
                    <button type="button" class="btn btn-default" ng-model="sortButton" btn-radio="0" ng-click="sortBy(0)">
                        Title
                        <span class="fa fa-fw fa-long-arrow-down" ng-show="!sortModes[0].reverse"></span>
                        <span class="fa fa-fw fa-long-arrow-up" ng-show="sortModes[0].reverse"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-model="sortButton" btn-radio="1" ng-click="sortBy(1)">
                        Status
                        <span class="fa fa-fw fa-long-arrow-down" ng-show="!sortModes[1].reverse"></span>
                        <span class="fa fa-fw fa-long-arrow-up" ng-show="sortModes[1].reverse"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <pagination total-items="filteredSW.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                    boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredSW.length > perPage"></pagination>
    </div>
    <div class="row row-clickable"
         ng-repeat="sw in filteredSW = (SWList.software | filter:{title:titleFilter}
                                                        | filter:{description:descrFilter}
                                                        | orderBy:sortModes[sortMode].by:sortModes[sortMode].reverse)
        | startFrom:(currentPage-1)*perPage | limitTo:perPage"
         ng-class="{sdOpen: sw.show}">
        <div class="col-md-12" ng-click="toggleSW(sw)" style="cursor: pointer;">
            <table class="table">
                <tr>
                    <td style="width: 15px;">
                        <a>
                            <span class="fa fa-fw fa-caret-right" ng-hide="sw.show"></span>
                            <span class="fa fa-fw fa-caret-down" ng-show="sw.show"></span>
                        </a>
                    </td>
                    <td style="width:64px;">
                        <img ng-hide="sw.picFile[0] != null" src="{{sw.icon}}" class="thumb" width="64px" height="64px">
                        <img ng-show="sw.picFile[0] != null" ngf-src="sw.picFile[0]" class="thumb" width="64px" height="64px">
                    </td>
                    <td>
                        <h4>
                            <a>{{sw.title}}</a>
                        </h4>
                    </td>
                    <td style="width: 79px;">
                        <button type="button" class="btn btn-danger" ng-click="publishSW(sw)" ng-show="sw.status == 0">
                            Publish
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-if="sw.show">
            <form name="editSW{{sw.sid}}" ng-submit="updateSW(sw)">
                <div class="col-md-12">
                    <div class="col-md-6 form-group">
                        <label for="{{sw.sid}}_up">Upload Icon</label>
                        <input type="file" ngf-select="" ng-model="sw.picFile" accept="image/png"
                               ngf-change="generateThumb(sw.picFile[0], $files)" id="{{sw.sid}}_up">
                        <span class="progress" ng-show="sw.picFile[0].progress >= 0">
                            <div class="ng-binding" style="width:{{sw.picFile[0].progress}}%" ng-bind="sw.picFile[0].progress + '%'"></div>
                        </span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="{{sw.sid}}_title">Title</label>
                        <input type="text" class="form-control" placeholder="{{sw.title}}" ng-model="sw.title"
                               id="{{sw.sid}}_title" maxlength="50" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 form-group">
                        <label for="{{sw.sid}}_descr">Description</label>
                        <textarea class="form-control" rows="3" id="{{sw.sid}}_descr" ng-model="sw.description"
                                  maxlength="4096" required></textarea>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="{{sw.sid}}_mod">List of Installed Modules</label>
                        <textarea class="form-control" rows="3" id="{{sw.sid}}_mod" ng-model="sw.modules"
                                  maxlength="4096"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 form-group">
                        <label for="{{sw.sid}}_links">Links</label>
                        <ul class="list-group" id="{{sw.sid}}_links">
                            <li class="list-group-item" ng-repeat="link in sw.links">
                                <button type="button" class="btn btn-danger" ng-click="deleteLink(sw,link)">
                                    <span class="fa fa-fw fa-close"></span>
                                </button>
                                {{link.description}} <a href="{{link.url}}">{{link.title}}</a>
                            </li>
                            <li class="list-group-item col-md-12">
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Link Description"
                                           ng-model="sw.newLink.description" maxlength="200">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Link Title"
                                           ng-model="sw.newLink.title" maxlength="100">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="http://www.example.com/"
                                           ng-model="sw.newLink.url" maxlength="1024">
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-success" ng-click="addLink(sw)"
                                            ng-disabled="sw.newLink.title.length == 0 || sw.newLink.url.length < 2">
                                        <span class="fa fa-fw fa-plus"></span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 form-group">
                        <label for="{{sw.sid}}_ver">Versions</label>
                        <ul class="list-group" id="{{sw.sid}}_ver">
                            <li class="list-group-item col-md-12" ng-repeat="version in sw.versions">
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-danger" ng-click="deleteVersion(sw,version)">
                                        <span class="fa fa-fw fa-close"></span>
                                    </button>
                                    <span class="fa fa-fw fa-windows" ng-show="version.os == 1"></span>
                                    <span class="fa fa-fw fa-apple" ng-show="version.os == 2"></span>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Version" ng-model="version.version"
                                           maxlength="50">
                                </div>
                                <div class="col-md-8 form-group">
                                    <label for="{{sw.sid}}_loc">Locations</label>
                                    <ul class="list-group" id="{{sw.sid}}_loc">
                                        <li class="list-group-item col-md-12" ng-repeat="loc in version.locations">
                                            <div class="col-md-8">
                                                <button type="button" class="btn btn-danger" ng-click="deleteLocation(sw,version,loc)">
                                                    <span class="fa fa-fw fa-close"></span>
                                                </button>
                                                {{loc.name}}
                                            </div>
                                            <div class="col-md-4">
                                                <div class="col-md-6" ng-show="checkDevices(loc.devices, 1)">
                                                    <span class="fa fa-fw fa-windows"></span>
                                                    <span class="fa fa-fw fa-desktop"></span>
                                                </div>
                                                <div class="col-md-6" ng-show="checkDevices(loc.devices, 2)">
                                                    <span class="fa fa-fw fa-apple"></span>
                                                    <span class="fa fa-fw fa-desktop"></span>
                                                </div>
                                                <div class="col-md-6" ng-show="checkDevices(loc.devices, 4)">
                                                    <span class="fa fa-fw fa-windows"></span>
                                                    <span class="fa fa-fw fa-laptop"></span>
                                                </div>
                                                <div class="col-md-6" ng-show="checkDevices(loc.devices, 8)">
                                                    <span class="fa fa-fw fa-apple"></span>
                                                    <span class="fa fa-fw fa-laptop"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item col-md-12">
                                            <div class="col-md-8">
                                                <select class="form-control" ng-model="version.newLoc.selLoc"
                                                        ng-options="loc.fullName for loc in SWList.locations | orderBy:'fullName'">
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-6" ng-repeat="device in version.newLoc.devices track by $index"
                                                     ng-show="(($index == 0 || $index == 2) && version.os == 1) ||
                                                              (($index == 1 || $index == 3) && version.os == 2)">
                                                    <input type="checkbox" ng-model="version.newLoc.devices[$index]">
                                                    <span ng-show="$index <= 1">
                                                        <span class="fa fa-fw fa-desktop"></span>
                                                    </span>
                                                    <span ng-show="$index > 1">
                                                        <span class="fa fa-fw fa-laptop"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-success" ng-click="addLocation(sw,version)">
                                                    <span class="fa fa-fw fa-plus"></span>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-group-item col-md-6">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Version" ng-model="sw.newVer.version"
                                           maxlength="50">
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" ng-model="sw.newVer.selOS" ng-options="opSys.name for opSys in os">
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-success" ng-click="addVersion(sw)"
                                            ng-disabled="sw.newVer.version.length == 0">
                                        <span class="fa fa-fw fa-plus"></span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 form-group">
                        <label for="{{sw.sid}}_cat">Categories</label>
                        <ul class="list-group" id="{{sw.sid}}_cat">
                            <li class="list-group-item col-md-12">
                                <div class="col-md-4" ng-repeat="category in sw.categories">
                                    <button type="button" class="btn btn-danger" ng-click="deleteCategory(sw,category)">
                                        <span class="fa fa-fw fa-close"></span>
                                    </button>
                                    {{category.name}}
                                </div>
                            </li>
                            <li class="list-group-item col-md-12">
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="sw.selCat" ng-options="cat.name for cat in SWList.categories">
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-success" ng-click="addCategory(sw)">
                                        <span class="fa fa-fw fa-plus"></span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="{{sw.sid}}_effectDate">Maintenance Effective Date</label>
                        <input type="text" class="form-control" placeholder="YYYY-MM-DD" ng-model="sw.main_effect"
                               maxlength="10" id="{{sw.sid}}_effectDate">
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="{{sw.sid}}_expDate">Maintenance Expiration Date</label>
                        <input type="text" class="form-control" placeholder="YYYY-MM-DD" ng-model="sw.main_exp"
                               maxlength="10" id="{{sw.sid}}_expDate">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2 form-group">
                        <label for="{{sw.sid}}_trf">TRF</label>
                        <input type="text" class="form-control" placeholder="TRF number" ng-model="sw.trf"
                               maxlength="100" id="{{sw.sid}}_trf">
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="{{sw.sid}}_po">PO</label>
                        <input type="text" class="form-control" placeholder="PO number" ng-model="sw.po"
                               maxlength="100" id="{{sw.sid}}_po">
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="{{sw.sid}}_numL">Number of Licenses</label>
                        <input type="text" class="form-control" placeholder="Number of Licenses" ng-model="sw.num_licenses"
                               maxlength="100" id="{{sw.sid}}_numL">
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="{{sw.sid}}_trfNotes">TRF Notes</label>
                        <input type="text" class="form-control" placeholder="TRF notes" ng-model="sw.trf_notes"
                               maxlength="100" id="{{sw.sid}}_trfNotes">
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="{{sw.sid}}_lMode">License Mode</label>
                        <select class="form-control" ng-model="sw.selMode" ng-options="mode.name for mode in SWList.licenseModes"
                                id="{{sw.sid}}_lMode">
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="{{sw.sid}}_purDate">Purchase Date</label>
                        <input type="text" class="form-control" placeholder="YYYY-MM-DD" ng-model="sw.purch_date"
                               maxlength="10" id="{{sw.sid}}_purDate">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3 form-group">
                        <label for="{{sw.sid}}_vendorName">Vendor Company Name</label>
                        <input type="text" class="form-control" placeholder="Company Name" ng-model="sw.vendor_name"
                               maxlength="60" id="{{sw.sid}}_vendorName">
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="{{sw.sid}}_vendorContact">Vendor Contact Name</label>
                        <input type="text" class="form-control" placeholder="Contact Name" ng-model="sw.vendor_contact"
                               maxlength="60" id="{{sw.sid}}_vendorContact">
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="{{sw.sid}}_vendorPhone">Vendor Phone</label>
                        <input type="text" class="form-control" placeholder="Contact Phone" ng-model="sw.vendor_phone"
                               maxlength="20" id="{{sw.sid}}_vendorPhone">
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="{{sw.sid}}_vendorEmail">Vendor Email</label>
                        <input type="text" class="form-control" placeholder="Contact Email" ng-model="sw.vendor_email"
                               maxlength="255" id="{{sw.sid}}_vendorEmail">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 form-group">
                        <label for="{{sw.sid}}_prodKey">Product Key</label>
                        <input type="text" class="form-control" placeholder="Product Key" ng-model="sw.pkey"
                               maxlength="100" id="{{sw.sid}}_prodKey">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="{{sw.sid}}_apDev">Approved for Devices</label>
                        <input type="text" class="form-control" placeholder="List of Devices" ng-model="sw.devices"
                               maxlength="100" id="{{sw.sid}}_apDev">
                    </div>
                </div>
                <div class="col-md-12 form-group text-center">
                    <button type="submit" class="btn btn-success">Update information</button>
                    <button type="button" class="btn btn-success" ng-click="unpublishSW(sw)" ng-hide="sw.status == 0">
                        Unpublish
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="copySW(sw)">
                        Copy to New
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteSW(sw)">
                        Delete {{sw.title}} software
                    </button>
                    {{sw.formResponse}}
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-center">
    <pagination total-items="filteredSW.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredSW.length > perPage"></pagination>
</div>
<div class="text-center">
    <h4 ng-show="filteredSW.length == 0">Nothing found</h4>
</div>

<h3>Add New Software</h3>
<form name="addNewSW" ng-submit="createSW()">
    <div class="row sdOpen">
        <div class="col-md-12">
            <div class="col-md-3 form-group">
                <label for="up">Upload Icon</label>
                <input type="file" ngf-select="" ng-model="newSW.picFile" accept="image/*"
                       ngf-change="generateThumb(newSW.picFile[0], $files)" id="up">
            </div>
            <div class="col-md-3 form-group">
                <span class="progress" ng-show="newSW.picFile[0].progress >= 0">
                    <div class="ng-binding" style="width:{{newSW.picFile[0].progress}}%" ng-bind="newSW.picFile[0].progress + '%'"></div>
                </span>
                <img ng-show="newSW.picFile[0] != null" ngf-src="newSW.picFile[0]" class="thumb" width="64px" height="64px">
            </div>
            <div class="col-md-6 form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" placeholder="Software Title" ng-model="newSW.title"
                       id="title" maxlength="50">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label for="descr">Description</label>
                <textarea class="form-control" rows="3" id="descr" ng-model="newSW.description" maxlength="4096" required></textarea>
            </div>
            <div class="col-md-6 form-group">
                <label for="mod">List of Installed Modules</label>
                <textarea class="form-control" rows="3" id="mod" ng-model="newSW.modules" maxlength="4096"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 form-group">
                <label for="links">Links</label>
                <ul class="list-group" id="links">
                    <li class="list-group-item" ng-repeat="link in newSW.links">
                        <button type="button" class="btn btn-danger" ng-click="delNewSWLink(link)">
                            <span class="fa fa-fw fa-close"></span>
                        </button>
                        {{link.description}} <a href="{{link.url}}">{{link.title}}</a>
                    </li>
                    <li class="list-group-item col-md-12">
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Link Description"
                                   ng-model="newSW.newLink.description" maxlength="200">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="Link Title"
                                   ng-model="newSW.newLink.title" maxlength="100">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="http://www.example.com/"
                                   ng-model="newSW.newLink.url" maxlength="1024">
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-success" ng-click="addNewSWLink()"
                                    ng-disabled="newSW.newLink.title.length == 0 || newSW.newLink.url.length < 2">
                                <span class="fa fa-fw fa-plus"></span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 form-group">
                <label for="ver">Versions</label>
                <ul class="list-group" id="ver">
                    <li class="list-group-item col-md-12" ng-repeat="version in newSW.versions">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-danger" ng-click="delNewSWVer(version)">
                                <span class="fa fa-fw fa-close"></span>
                            </button>
                            {{version.version}}
                            <span class="fa fa-fw fa-windows" ng-show="version.os == 1"></span>
                            <span class="fa fa-fw fa-apple" ng-show="version.os == 2"></span>
                        </div>
                        <div class="col-md-8 form-group">
                            <label for="loc">Locations</label>
                            <ul class="list-group" id="loc">
                                <li class="list-group-item col-md-12" ng-repeat="loc in version.locations">
                                    <div class="col-md-8">
                                        <button type="button" class="btn btn-danger" ng-click="delNewSWLoc(version,loc)">
                                            <span class="fa fa-fw fa-close"></span>
                                        </button>
                                        {{loc.name}}
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-6" ng-show="checkDevices(loc.devices, 1)">
                                            <span class="fa fa-fw fa-windows"></span>
                                            <span class="fa fa-fw fa-desktop"></span>
                                        </div>
                                        <div class="col-md-6" ng-show="checkDevices(loc.devices, 2)">
                                            <span class="fa fa-fw fa-apple"></span>
                                            <span class="fa fa-fw fa-desktop"></span>
                                        </div>
                                        <div class="col-md-6" ng-show="checkDevices(loc.devices, 4)">
                                            <span class="fa fa-fw fa-windows"></span>
                                            <span class="fa fa-fw fa-laptop"></span>
                                        </div>
                                        <div class="col-md-6" ng-show="checkDevices(loc.devices, 8)">
                                            <span class="fa fa-fw fa-apple"></span>
                                            <span class="fa fa-fw fa-laptop"></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-md-12">
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="version.newLoc.selLoc"
                                                ng-options="loc.fullName for loc in SWList.locations | orderBy:'fullName'">
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="col-md-6" ng-repeat="device in version.newLoc.devices track by $index"
                                                ng-show="(($index == 0 || $index == 2) && version.os == 1) ||
                                                         (($index == 1 || $index == 3) && version.os == 2)">
                                            <input type="checkbox" ng-model="version.newLoc.devices[$index]">
                                                    <span ng-show="$index <= 1">
                                                        <span class="fa fa-fw fa-desktop"></span>
                                                    </span>
                                                    <span ng-show="$index > 1">
                                                        <span class="fa fa-fw fa-laptop"></span>
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-success" ng-click="addNewSWLoc(version)">
                                            <span class="fa fa-fw fa-plus"></span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item col-md-6">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Version" ng-model="newSW.newVer.version"
                                   maxlength="50">
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" ng-model="newSW.newVer.selOS" ng-options="opSys.name for opSys in os">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" ng-click="addNewSWVer()"
                                    ng-disabled="newSW.newVer.version.length == 0">
                                <span class="fa fa-fw fa-plus"></span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label for="cat">Categories</label>
                <ul class="list-group" id="cat">
                    <li class="list-group-item col-md-12">
                        <div class="col-md-4" ng-repeat="category in newSW.categories">
                            <button type="button" class="btn btn-danger" ng-click="delNewSWCat(category)">
                                <span class="fa fa-fw fa-close"></span>
                            </button>
                            {{category.name}}
                        </div>
                    </li>
                    <li class="list-group-item col-md-12">
                        <div class="col-md-10">
                            <select class="form-control" ng-model="newSW.selCat" ng-options="cat.name for cat in SWList.categories">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" ng-click="addNewSWCat()">
                                <span class="fa fa-fw fa-plus"></span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 form-group">
                <label for="effectDate">Maintenance Effective Date</label>
                <input type="text" class="form-control" placeholder="MM/DD/YYYY" ng-model="newSW.main_effect"
                       maxlength="10" id="effectDate">
            </div>
            <div class="col-md-3 form-group">
                <label for="expDate">Maintenance Expiration Date</label>
                <input type="text" class="form-control" placeholder="MM/DD/YYYY" ng-model="newSW.main_exp"
                       maxlength="10" id="expDate">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 form-group">
                <label for="trf">TRF</label>
                <input type="text" class="form-control" placeholder="TRF number" ng-model="newSW.trf"
                       maxlength="100" id="trf">
            </div>
            <div class="col-md-2 form-group">
                <label for="po">PO</label>
                <input type="text" class="form-control" placeholder="PO number" ng-model="newSW.po"
                       maxlength="100" id="po">
            </div>
            <div class="col-md-2 form-group">
                <label for="numL">Number of Licenses</label>
                <input type="text" class="form-control" placeholder="Number of Licenses" ng-model="newSW.num_licenses"
                       maxlength="100" id="numL">
            </div>
            <div class="col-md-2 form-group">
                <label for="trfNotes">TRF Notes</label>
                <input type="text" class="form-control" placeholder="TRF notes" ng-model="newSW.trf_notes"
                       maxlength="100" id="trfNotes">
            </div>
            <div class="col-md-2 form-group">
                <label for="lMode">License Mode</label>
                <select class="form-control" ng-model="newSW.selMode" ng-options="mode.name for mode in SWList.licenseModes"
                        id="lMode">
                </select>
            </div>
            <div class="col-md-2 form-group">
                <label for="purDate">Purchase Date</label>
                <input type="text" class="form-control" placeholder="YYYY-MM-DD" ng-model="newSW.purch_date"
                       maxlength="10" id="purDate">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 form-group">
                <label for="vendorName">Vendor Company Name</label>
                <input type="text" class="form-control" placeholder="Company Name" ng-model="newSW.vendor_name"
                       maxlength="60" id="vendorName">
            </div>
            <div class="col-md-3 form-group">
                <label for="vendorContact">Vendor Contact Name</label>
                <input type="text" class="form-control" placeholder="Contact Name" ng-model="newSW.vendor_contact"
                       maxlength="60" id="vendorContact">
            </div>
            <div class="col-md-3 form-group">
                <label for="vendorPhone">Vendor Phone</label>
                <input type="text" class="form-control" placeholder="Contact Phone" ng-model="newSW.vendor_phone"
                       maxlength="20" id="vendorPhone">
            </div>
            <div class="col-md-3 form-group">
                <label for="vendorEmail">Vendor Email</label>
                <input type="text" class="form-control" placeholder="Contact Email" ng-model="newSW.vendor_email"
                       maxlength="255" id="vendorEmail">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label for="prodKey">Product Key</label>
                <input type="text" class="form-control" placeholder="Product Key" ng-model="newSW.pkey"
                       maxlength="100" id="prodKey">
            </div>
            <div class="col-md-6 form-group">
                <label for="apDev">Approved for Devices</label>
                <input type="text" class="form-control" placeholder="List of Devices" ng-model="newSW.devices"
                       maxlength="100" id="apDev">
            </div>
        </div>
        <div class="col-md-12 form-group text-center">
            <button type="submit" class="btn btn-success">Create Software Record</button>
            {{newSW.formResponse}}
        </div>
    </div>
</form>

