a {
    color: #0080ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #0080ff;
}

@font-face {
    font-family: 'ampersandregular';
    src: url('/inc/compavail/fonts/ampersand-webfont.eot');
    src: url('/inc/compavail/fonts/ampersand-webfont.eot?#iefix') format('embedded-opentype'),
    url('/inc/compavail/fonts/ampersand-webfont.woff') format('woff'),
    url('/inc/compavail/fonts/ampersand-webfont.ttf') format('truetype'),
    url('/inc/compavail/fonts/ampersand-webfont.svg#ampersandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.iframe-content-wrapper{
    text-align: center;
    line-height: normal;
    width: 1000px;
    margin: 0 auto;
}

.comps-wrapper{
    color: #f4f4f4;
    font-family: 'ampersandregular';
    text-align: left;
}

.page-title{
    color: #333;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.comps-wrapper .nav-title-wrapper, .comps-wrapper .map-title-wrapper{
    width: 100%;
    color: #333;
    position: relative;
    background: #e0e0e0;
    border: 1px solid #ccc;
}

.comps-wrapper .nav-title-wrapper{
    height: 146px;
}

.comps-wrapper .nav-title-wrapper .nav-title{
    font-size: 75px;
    text-align: center;
    margin-top: 35px;
}

.comps-wrapper .nav-title-wrapper .back, .comps-wrapper .map-title-wrapper .back{
    position: absolute;
    float: left;
}

.comps-wrapper .map-title-wrapper{
    height: 68px;
}

.comps-wrapper .map-title{
    text-align: center;
    font-size: 60px;
}

.comps-nav-btn, .comps-nav-entity{
    padding: 10px;

}

.comps-nav-btn {
    position: relative;
    margin: 10px;
    padding: 20px;
    width: 938px;
    min-height: 150px;
    border: 1px solid #666;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: rgb(102,102,102);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjY2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MTQxNDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(102,102,102,1) 0%, rgba(65,65,65,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(100%,rgba(65,65,65,1)));
    background: -webkit-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(65,65,65,1) 100%);
    background: -o-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(65,65,65,1) 100%);
    background: -ms-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(65,65,65,1) 100%);
    background: linear-gradient(to bottom,  rgba(102,102,102,1) 0%,rgba(65,65,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#414141',GradientType=0 );
}

.comps-nav-btn .label {
    line-height: .85em;
    font-size: 100px;
    float: left;
    width: 400px;
}

.comps-nav-btn .label.sm {
    font-size: 65px;
}

.comps-nav-btn .label .description {
    color: #ccc;
    font-size: 16px;
    font-family: Lucida Sans Unicode, Verdana, Arial, sans-serif;
    position: absolute;
    bottom: 0;
}

.comps-nav-btn .status,.comps-nav-btn .next {
    float: right;
}

.comps-nav-btn .status {
    font-size: 47px;
    padding-right: 15px;
    color: #fff;

}

.comps-nav-btn .status.right-spacer{
    width: 422px;
}

.comps-nav-btn .stat {
    padding: 8px 0;
}

.comps-nav-btn .stat .available, .comps-nav-btn .stat .total{
    padding: 0 8px;
}

.comps-nav-btn .stat .total {
    color: #B2B2B2;
}

.comps-wrapper .next {
    color: #2c2c2c;
    font-size: 150px;
    width: 58px;
    margin: 0 30px;
    filter: shadow(color=#8D8D8D, direction=0, strength=3);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#8D8D8D,direction=0,strength=3)";
    /**OPTIONAL IE CLEARTYPE FIX**/
    text-shadow: #8D8D8D 0px 1px 1px, #111 -1px 0px 1px;
}

.comps-wrapper .back {
    margin: 8px 0 0 8px;
    border: 1px solid #c3c3c3;
    background: #d5d5d5;
}

.comps-wrapper .linked:hover{
    cursor: pointer;
}

.comps-map-key{
    border: 1px solid #555;
    border-bottom: 1px solid #222;
    background-color: #666;
    width: 100%;
}

.comps-map-key-item{
    color: #f0f0f0;
    font-family: Arial, san-serif;
    font-size: 12px;
    float: left;
    padding: 10px;
    width: 140px;
}

.comps-map-key-item .PC, .comps-map-key-item .PC2, .comps-map-key-item .MAC{
    margin-right: 5px;
    float: left;
}



.comps-map{
    margin: 0 auto;
    position: relative;
}

.comps-map-comp-border{
    width: 13px;
    height: 13px;
    display: block;
    margin: -2px 0 0 -2px;
}

.comps-map-comp{
    width: 11px;
    height: 11px;
    position: absolute;
    float: left;
}

.PC .comps-map-comp-border{
    background: url(/inc/compavail/images/sq-comp-border.png) no-repeat 0 0;
}

.MAC {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}

.MAC .comps-map-comp-border{
    width: 14px;
    height: 14px;
    background: url(/inc/compavail/images/circ-comp-border.png) no-repeat 0 0;
}

.PC2 .comps-map-comp-border{
    background: url(/inc/compavail/images/sq-comp-border2.png) no-repeat 0 0;
}

.MAC2 {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}

.MAC2 .comps-map-comp-border{
    width: 14px;
    height: 14px;
    background: url(/inc/compavail/images/circ-comp-border2.png) no-repeat 0 0;
}

.closed .comps-map-comp-border{
    filter: alpha(opacity=55); /* internet explorer */
    -khtml-opacity: 0.55;      /* khtml, old safari */
    -moz-opacity: 0.55;       /* mozilla, netscape */
    opacity: 0.55;           /* fx, safari, opera */
}

.open{
    background-color: #009900;
}

.higlighted{
    background-color: #ffff00;
    box-shadow: 5px 5px 10px #888888;
}

.selected{
    background-color: #0000ff;
}

.selected-form{
    position:absolute;
    background-color: white;
    box-shadow: 5px 5px 10px #888888;
}

.help .OoO .closed{
    background-color: #292929;
}

.clear-fix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear-fix {
    display: inline-block;
}

html[xmlns] .clear-fix {
    display: block;
}

* html .clear-fix {
    height: 1%;
    overflow: visible;
}
