<h2>Manage Databases</h2>

<div>
    <div class="row form-inline">
        <div class="form-group col-md-12">
            <label for="filterBy">Filter <small>{{filteredDB.length}}</small> results by</label>
            <div id="filterBy">
                <input type="text" class="form-control" placeholder="Title starts with" ng-model="titleStartFilter">
                <input type="text" class="form-control" placeholder="Title contains" ng-model="titleFilter">
                <input type="text" class="form-control" placeholder="Description contains" ng-model="descrFilter">
                <input type="text" class="form-control" placeholder="Subjects contain" ng-model="subjectFilter">
                <input type="text" class="form-control" placeholder="Media Types contain" ng-model="typeFilter">
                <select class="form-control" ng-model="disFilter" ng-options="val.name for val in disValues">
                </select>
            </div>
            <label for="sortBy">Sort by</label>
            <div id="sortBy">
                <button type="button" class="btn btn-default" ng-model="sortButton" btn-radio="0" ng-click="sortBy(0)">
                    Title
                    <span class="fa fa-fw fa-long-arrow-down" ng-show="!sortModes[0].reverse"></span>
                    <span class="fa fa-fw fa-long-arrow-up" ng-show="sortModes[0].reverse"></span>
                </button>
                <button type="button" class="btn btn-default" ng-model="sortButton" btn-radio="1" ng-click="sortBy(1)">
                    Creation Date
                    <span class="fa fa-fw fa-long-arrow-down" ng-show="!sortModes[1].reverse"></span>
                    <span class="fa fa-fw fa-long-arrow-up" ng-show="sortModes[1].reverse"></span>
                </button>
                <button type="button" class="btn btn-default" ng-model="sortButton" btn-radio="2" ng-click="sortBy(2)">
                    Last Modified
                    <span class="fa fa-fw fa-long-arrow-down" ng-show="!sortModes[2].reverse"></span>
                    <span class="fa fa-fw fa-long-arrow-up" ng-show="sortModes[2].reverse"></span>
                </button>
                <button type="button" class="btn btn-default" ng-model="sortButton" btn-radio="3" ng-click="sortBy(3)">
                    Temporary Disabled
                    <span class="fa fa-fw fa-long-arrow-down" ng-show="!sortModes[3].reverse"></span>
                    <span class="fa fa-fw fa-long-arrow-up" ng-show="sortModes[3].reverse"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="text-center">
        <pagination total-items="filteredDB.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                    boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredDB.length > perPage"></pagination>
    </div>
    <div class="row"
         ng-repeat="db in filteredDB = (DBList.databases | filter:{title:titleStartFilter}:startTitle
                                                         | filter:{title:titleFilter}
                                                         | filter:{description:descrFilter}
                                                         | filter:{subjects:subjectFilter}
                                                         | filter:{types:typeFilter}
                                                         | filter:{disabled:disFilter.value}
                                                         | orderBy:sortModes[sortMode].by:sortModes[sortMode].reverse)
        | startFrom:(currentPage-1)*perPage | limitTo:perPage"
         ng-class="{sdOpen: db.show, sdOver: db.id == mOver}" ng-mouseover="setOver(db)">
        <div class="col-md-12" ng-click="toggleDB(db)">
            <div class="col-md-10">
                <h4>
                    <span class="fa fa-fw fa-caret-right" ng-hide="db.show"></span>
                    <span class="fa fa-fw fa-caret-down" ng-show="db.show"></span>
                    <a href="{{db.url}}">{{db.title}}</a>
                    <small>{{db.publisher}} <span ng-show="db.vendor.length > 0">: {{db.vendor}}</span></small>
                </h4>
            </div>
            <div class="col-md-1 text-right">
                <h4 ng-show="db.tmpDisabled == 1"><small>TMP</small></h4>
            </div>
            <div class="col-md-1">
                <h4 ng-show="db.disabled == 1 || db.tmpDisabled == 1"><small>DISABLED</small></h4>
            </div>
        </div>
        <div class="col-md-12" ng-show="db.show">
            <form ng-submit="updateDB(db)">
                <div class="col-md-6 form-group">
                    <label for="{{db.id}}_title">Title</label>
                    <input type="text" class="form-control" placeholder="{{db.title}}" ng-model="db.title"
                           id="{{db.id}}_title" maxlength="200">
                </div>
                <div class="col-md-2 form-group">
                    <label for="{{db.id}}_Publisher">Publisher</label>
                    <input type="text" class="form-control" placeholder="{{db.publisher}}" ng-model="db.publisher"
                           id="{{db.id}}_Publisher" maxlength="100">
                </div>
                <div class="col-md-2 form-group">
                    <label for="{{db.id}}_Vendor">Vendor</label>
                    <input type="text" class="form-control" placeholder="{{db.vendor}}" ng-model="db.vendor"
                           id="{{db.id}}_Vendor" maxlength="100">
                </div>
                <div class="col-md-2 form-group">
                    <label for="{{db.id}}_Format">Format</label>
                    <input type="text" class="form-control" placeholder="{{db.format}}" ng-model="db.format"
                           id="{{db.id}}_Format" maxlength="50">
                </div>
                <div class="col-md-6 form-group">
                    <label for="{{db.id}}_URL">URL</label>
                    <input type="text" class="form-control" placeholder="{{db.url}}" ng-model="db.url"
                           id="{{db.id}}_URL" maxlength="2000">
                </div>
                <div class="col-md-2 form-group">
                    <label for="{{db.id}}_Location">Location</label>
                    <input type="text" class="form-control" placeholder="{{db.location}}" ng-model="db.location"
                           id="{{db.id}}_Location" maxlength="50">
                </div>
                <div class="col-md-2 form-group">
                    <label for="{{db.id}}_NotInEDS">Not in EDS</label>
                    <input type="text" class="form-control" placeholder="{{db.notInEDS}}" ng-model="db.notInEDS"
                           id="{{db.id}}_NotInEDS" maxlength="1">
                </div>
                <div class="col-md-1 form-group">
                    <label for="{{db.id}}_Full-text">Fulltext</label>
                    <input type="text" class="form-control" placeholder="{{db.hasFullText}}" ng-model="db.hasFullText"
                           id="{{db.id}}_Full-text" maxlength="1">
                </div>
                <div class="col-md-1 form-group">
                    <label for="{{db.id}}_Authenticate">Authenticate</label>
                    <input type="checkbox" class="form-control" ng-model="db.auth" ng-true-value="1" ng-false-value="0"
                           id="{{db.id}}_Authenticate">
                </div>
                <div class="col-md-6 form-group">
                    <label for="{{db.id}}_Coverage">Coverage</label>
                    <input type="text" class="form-control" placeholder="{{db.coverage}}" ng-model="db.coverage"
                           id="{{db.id}}_Coverage" maxlength="256">
                </div>
                <div class="col-md-3 form-group">
                    <label for="{{db.id}}_Notes">Notes</label>
                    <input type="text" class="form-control" placeholder="{{db.notes}}" ng-model="db.notes"
                           id="{{db.id}}_Notes" maxlength="100">
                </div>
                <div class="col-md-3 form-group">
                    <label for="{{db.id}}_Status">Status</label>
                    <input type="text" class="form-control" placeholder="{{db.status}}" ng-model="db.status"
                           id="{{db.id}}_Status" maxlength="100">
                </div>
                <div class="col-md-12 form-group">
                    <label for="{{db.id}}_descr">Database Description</label>
                    <textarea class="form-control" rows="3" id="{{db.id}}_descr" ng-model="db.description" maxlength="4096"></textarea>
                </div>
                <div class="col-md-1 form-group">
                    <label for="{{db.id}}_presented">PresentedBy</label>
                    <input type="text" class="form-control" placeholder="{{db.presentedBy}}" ng-model="db.presentedBy"
                           id="{{db.id}}_presented" maxlength="50">
                </div>
                <div class="col-md-1 form-group">
                    <label for="{{db.id}}_Audience1">Audience1</label>
                    <input type="text" class="form-control" placeholder="{{db.audience1}}" ng-model="db.audience1"
                           id="{{db.id}}_Audience1" maxlength="30">
                </div>
                <div class="col-md-2 form-group">
                    <label for="{{db.id}}_Audience2">Audience2</label>
                    <input type="text" class="form-control" placeholder="{{db.audience2}}" ng-model="db.audience2"
                           id="{{db.id}}_Audience2" maxlength="30">
                </div>
                <div class="col-md-2 form-group">
                    <label for="{{db.id}}_updatedBy">Updated by</label>
                    <p id="{{db.id}}_updatedBy">{{db.updatedBy}}</p>
                </div>
                <div class="col-md-2 form-group">
                    <label for="{{db.id}}_dAuthor">Description Author</label>
                    <input type="text" class="form-control" placeholder="{{db.descrAuthor}}" ng-model="db.descrAuthor"
                           id="{{db.id}}_dAuthor" maxlength="50">
                </div>
                <div class="col-md-2 form-group">
                    <label for="{{db.id}}_date1">Created/Modified</label>
                    <p id="{{db.id}}_date1">{{db.dateCreated}}<br>{{db.lastModified}}</p>
                </div>
                <div class="col-md-1 form-group">
                    <label for="{{db.id}}_Disable">Disabled</label>
                    <input type="checkbox" class="form-control" ng-model="db.disabled" ng-true-value="1" ng-false-value="0"
                           id="{{db.id}}_Disable">
                </div>
                <div class="col-md-1 form-group">
                    <label for="{{db.id}}_tmpDisable">TmpDisable</label>
                    <input type="checkbox" class="form-control" ng-model="db.tmpDisabled" ng-true-value="1" ng-false-value="0"
                           id="{{db.id}}_tmpDisable">
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 form-group">
                        <label for="{{db.id}}_subjects">Subjects</label>
                        <ul class="list-group" id="{{db.id}}_subjects">
                            <li class="list-group-item" ng-repeat="subject in db.subjects">
                                <button type="button" class="btn btn-danger" ng-click="deleteSubject(db,subject)">Delete</button>
                                {{subject.subject}} : {{subject.type}}
                            </li>
                            <li class="list-group-item col-md-12">
                                <div class="col-md-7">
                                    <select class="form-control" ng-model="db.selSubj" ng-options="sub.subject for sub in DBList.subjects">
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" ng-model="db.subjType" ng-options="val for val in subjectValues">
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success" ng-click="addSubject(db)">Add Subject</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="{{db.id}}_types">Types</label>
                        <ul class="list-group" id="{{db.id}}_types">
                            <li class="list-group-item" ng-repeat="type in db.types">
                                <button type="button" class="btn btn-danger" ng-click="deleteType(db,type)">Delete</button>
                                {{type.type}}
                            </li>
                            <li class="list-group-item form-inline">
                                <select class="form-control" ng-model="db.selType" ng-options="typ.type for typ in DBList.types">
                                </select>
                                <button type="button" class="btn btn-success" ng-click="addType(db)">Add Type</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success">Update information</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteDB(db)">
                        Delete {{db[0]}} database
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-center">
    <pagination total-items="filteredDB.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                boundary-links="true" rotate="false" items-per-page="perPage" ng-show="filteredDB.length > perPage"></pagination>
</div>

<h3>Create new Database</h3>
<form ng-submit="createDB()">
    <div class="row sdOpen">
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" placeholder="Database Title" ng-model="newDB.title"
                       id="title" maxlength="200" required>
            </div>
            <div class="col-md-2 form-group">
                <label for="Publisher">Publisher</label>
                <input type="text" class="form-control" placeholder="Publisher" ng-model="newDB.publisher"
                       id="Publisher" maxlength="100">
            </div>
            <div class="col-md-2 form-group">
                <label for="Vendor">Vendor</label>
                <input type="text" class="form-control" placeholder="Vendor" ng-model="newDB.vendor"
                       id="Vendor" maxlength="100">
            </div>
            <div class="col-md-2 form-group">
                <label for="Format">Format</label>
                <input type="text" class="form-control" placeholder="Format" ng-model="newDB.format"
                       id="Format" maxlength="50">
            </div>
            <div class="col-md-6 form-group">
                <label for="URL">URL</label>
                <input type="text" class="form-control" placeholder="http://www.example.com/" ng-model="newDB.url"
                       id="URL" maxlength="2000" required>
            </div>
            <div class="col-md-2 form-group">
                <label for="Location">Location</label>
                <input type="text" class="form-control" placeholder="Location" ng-model="newDB.location"
                       id="Location" maxlength="50">
            </div>
            <div class="col-md-2 form-group">
                <label for="NotInEDS">Not in EDS</label>
                <input type="text" class="form-control" ng-model="newDB.notInEDS"
                       id="NotInEDS" maxlength="1">
            </div>
            <div class="col-md-1 form-group">
                <label for="Full-text">Fulltext</label>
                <input type="text" class="form-control" ng-model="newDB.hasFullText"
                       id="Full-text" maxlength="1">
            </div>
            <div class="col-md-1 form-group">
                <label for="Authenticate">Authenticate</label>
                <input type="checkbox" class="form-control" ng-model="newDB.auth" ng-true-value="'1'" ng-false-value="'0'"
                       id="Authenticate">
            </div>
            <div class="col-md-6 form-group">
                <label for="Coverage">Coverage</label>
                <input type="text" class="form-control" placeholder="Database Coverage" ng-model="newDB.coverage"
                       id="Coverage" maxlength="256" required>
            </div>
            <div class="col-md-3 form-group">
                <label for="dAuthor">Description Author</label>
                <input type="text" class="form-control" placeholder="Enter Author Name" ng-model="newDB.descrAuthor"
                       id="dAuthor" maxlength="50">
            </div>
            <div class="col-md-3 form-group">
                <label for="Status">Status</label>
                <input type="text" class="form-control" placeholder="Status" ng-model="newDB.status"
                       id="Status" maxlength="100">
            </div>
            <div class="col-md-12 form-group">
                <label for="descr">Database Description</label>
                <textarea class="form-control" rows="3" id="descr" ng-model="newDB.description" maxlength="4096" required></textarea>
            </div>
            <div class="col-md-2 form-group">
                <label for="presented">Presented by</label>
                <input type="text" class="form-control" placeholder="Presented By" ng-model="newDB.presentedBy"
                       id="presented" maxlength="50">
            </div>
            <div class="col-md-2 form-group">
                <label for="Audience1">Audience One</label>
                <input type="text" class="form-control" placeholder="Audience One" ng-model="newDB.audience1"
                       id="Audience1" maxlength="30">
            </div>
            <div class="col-md-2 form-group">
                <label for="Audience2">Audience Two</label>
                <input type="text" class="form-control" placeholder="Audience Two" ng-model="newDB.audience2"
                       id="Audience2" maxlength="30">
            </div>
            <div class="col-md-4 form-group">
                <label for="Notes">Notes</label>
                <input type="text" class="form-control" placeholder="Notes" ng-model="newDB.notes"
                       id="Notes" maxlength="100">
            </div>
            <div class="col-md-1 form-group">
                <label for="Disable">Disabled</label>
                <input type="checkbox" class="form-control" ng-model="newDB.disabled" ng-true-value="'1'" ng-false-value="'0'"
                       id="Disable">
            </div>
            <div class="col-md-1 form-group">
                <label for="tmpDisable">TmpDisable</label>
                <input type="checkbox" class="form-control" ng-model="newDB.tmpDisabled" ng-true-value="'1'" ng-false-value="'0'"
                       id="tmpDisable">
            </div>
            <div class="col-md-12">
                <div class="col-md-6 form-group">
                    <label for="subjects">Subjects</label>
                    <ul class="list-group" id="subjects">
                        <li class="list-group-item" ng-repeat="subject in newDB.subjects">
                            <button type="button" class="btn btn-danger" ng-click="delSubjNewDB($index)">Delete</button>
                            {{subject.subject}} : {{subject.type}}
                        </li>
                        <li class="list-group-item col-md-12">
                            <div class="col-md-7">
                                <select class="form-control" ng-model="newDB.selSubj" ng-options="sub.subject for sub in DBList.subjects">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" ng-model="newDB.subjType" ng-options="val for val in subjectValues">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success" ng-click="addSubjNewDB()">Add Subject</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 form-group">
                    <label for="types">Types</label>
                    <ul class="list-group" id="types">
                        <li class="list-group-item" ng-repeat="type in newDB.types">
                            <button type="button" class="btn btn-danger" ng-click="delTypeNewDB($index)">Delete</button>
                            {{type.type}}
                        </li>
                        <li class="list-group-item form-inline">
                            <select class="form-control" ng-model="newDB.selType" ng-options="typ.type for typ in DBList.types">
                            </select>
                            <button type="button" class="btn btn-success" ng-click="addTypeNewDB()">Add Type</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success">Create Database Record</button>
            </div>
        </div>
    </div>
</form>

