<h2>Manage Databases</h2>

<div>
    <div class="text-center row form-inline">
        <div class="col-md-5 form-group text-right">
            <label for="sortBy">Sort By</label>
            <div id="sortBy">
                <button type="button" class="btn btn-primary" ng-model="sortButton" btn-radio="'title'"
                        ng-click="sortMode='title'">
                    Title
                </button>
                <button type="button" class="btn btn-primary" ng-model="sortButton" btn-radio="'publisher'"
                        ng-click="sortMode='publisher'">
                    Publisher
                </button>
                <button type="button" class="btn btn-primary" ng-model="sortButton" btn-radio="'vendor'"
                        ng-click="sortMode='vendor'">
                    Vendor
                </button>
            </div>
        </div>
        <div class="col-md-7 form-group text-left">
            <label for="filterBy">Filter by</label>
            <div id="filterBy">
                <input type="text" class="form-control" placeholder="Title" ng-model="titleFilter">
                <input type="text" class="form-control" placeholder="Subject" ng-model="subjectFilter">
                <input type="text" class="form-control" placeholder="Media Type" ng-model="typeFilter">
            </div>
        </div>
    </div>

    <div class="text-center">
        <pagination total-items="filteredDB.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                    boundary-links="true" rotate="false" items-per-page="perPage"></pagination>
    </div>
    <div class="row"
         ng-repeat="db in filteredDB = (DBList.databases | filter:{title:titleFilter}
                                                         | filter:{subjects:subjectFilter}
                                                         | filter:{types:typeFilter})
        | startFrom:(currentPage-1)*perPage | limitTo:perPage | orderBy:sortMode"
         ng-class="{sdOpen: db.show, sdOver: db.id == mOver}" ng-mouseover="setOver(db)">
        <div class="col-md-12" ng-click="toggleDB(db)">
            <h4>
                <span class="fa fa-fw fa-caret-right" ng-hide="db.show"></span>
                <span class="fa fa-fw fa-caret-down" ng-show="db.show"></span>
                <a href="{{db.url}}">{{db.title}}</a>
                <small>{{db.publisher}} <span ng-show="db.vendor.length > 0">: {{db.vendor}}</span></small>
            </h4>
        </div>
        <div class="col-md-12" ng-show="db.show">
            <div class="col-md-6 form-group">
                <label for="{{db.id}}_title">Title</label>
                <input type="text" class="form-control" placeholder="{{db.title}}" ng-model="db.title"
                       id="{{db.id}}_title">
            </div>
            <div class="col-md-3 form-group">
                <label for="{{db.id}}_Publisher">Publisher</label>
                <input type="text" class="form-control" placeholder="{{db.publisher}}" ng-model="db.publisher"
                       id="{{db.id}}_Publisher">
            </div>
            <div class="col-md-3 form-group">
                <label for="{{db.id}}_Vendor">Vendor</label>
                <input type="text" class="form-control" placeholder="{{db.vendor}}" ng-model="db.vendor"
                       id="{{db.id}}_Vendor">
            </div>
            <div class="col-md-6 form-group">
                <label for="{{db.id}}_URL">URL</label>
                <input type="text" class="form-control" placeholder="{{db.url}}" ng-model="db.url"
                       id="{{db.id}}_URL">
            </div>
            <div class="col-md-2 form-group">
                <label for="{{db.id}}_Location">Location</label>
                <input type="text" class="form-control" placeholder="{{db.location}}" ng-model="db.location"
                       id="{{db.id}}_Location">
            </div>
            <div class="col-md-1 form-group">
                <label for="{{db.id}}_NotInEDS">Not in EDS</label>
                <input type="text" class="form-control" placeholder="{{db.notInEDS}}" ng-model="db.notInEDS"
                       id="{{db.id}}_NotInEDS">
            </div>
            <div class="col-md-1 form-group">
                <label for="{{db.id}}_Full-text">Fulltext</label>
                <input type="text" class="form-control" placeholder="{{db.hasFullText}}" ng-model="db.hasFullText"
                       id="{{db.id}}_Full-text">
            </div>
            <div class="col-md-1 form-group">
                <label for="{{db.id}}_Authenticate">Authenticate</label>
                <input type="checkbox" class="form-control" ng-model="db.auth" ng-true-value="'1'" ng-false-value="'0'"
                       id="{{db.id}}_Authenticate">
            </div>
            <div class="col-md-1 form-group">
                <label for="{{db.id}}_Disable">Disabled</label>
                <input type="checkbox" class="form-control" ng-model="db.disabled" ng-true-value="'1'" ng-false-value="'0'"
                       id="{{db.id}}_Disable">
            </div>
            <div class="col-md-6 form-group">
                <label for="{{db.id}}_Coverage">Coverage</label>
                <input type="text" class="form-control" placeholder="{{db.coverage}}" ng-model="db.coverage"
                       id="{{db.id}}_Coverage">
            </div>
            <div class="col-md-6 form-group">
                <label for="{{db.id}}_Notes">Notes</label>
                <input type="text" class="form-control" placeholder="{{db.notes}}" ng-model="db.notes"
                       id="{{db.id}}_Notes">
            </div>
            <div class="col-md-12 form-group">
                <label for="{{db.id}}_descr">Database Description</label>
                <textarea class="form-control" rows="3" id="{{db.id}}_descr" ng-model="db.description"></textarea>
            </div>
            <div class="col-md-2 form-group">
                <label for="{{db.id}}_presented">Presented by</label>
                <input type="text" class="form-control" placeholder="{{db.presentedBy}}" ng-model="db.presentedBy"
                       id="{{db.id}}_presented">
            </div>
            <div class="col-md-2 form-group">
                <label for="{{db.id}}_Audience1">Audience One</label>
                <input type="text" class="form-control" placeholder="{{db.audience1}}" ng-model="db.audience1"
                       id="{{db.id}}_Audience1">
            </div>
            <div class="col-md-2 form-group">
                <label for="{{db.id}}_Audience2">Audience Two</label>
                <input type="text" class="form-control" placeholder="{{db.audience2}}" ng-model="db.audience2"
                       id="{{db.id}}_Audience2">
            </div>
            <div class="col-md-3 form-group">
                <label for="{{db.id}}_dAuthor">Description Author</label>
                <p id="{{db.id}}_dAuthor">{{db.descrAuthor}}</p>
            </div>
            <div class="col-md-3 form-group">
                <label for="{{db.id}}_date">Last Modified</label>
                <p id="{{db.id}}_date">{{db.lastModified}}</p>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 form-group">
                    <label for="{{db.id}}_subjects">Subjects</label>
                    <ul class="list-group" id="{{db.id}}_subjects">
                        <li class="list-group-item" ng-repeat="subject in db.subjects">
                            <button type="button" class="btn btn-primary" ng-click="deleteSubject(db,subject)">Delete</button>
                            {{subject.subject}} : {{subject.type}}
                        </li>
                        <li class="list-group-item form-inline">
                            <select class="form-control" ng-model="db.selSubj" ng-options="sub.subject for sub in DBList.subjects">
                            </select>
                            <input type="text" class="form-control" placeholder="1 or 2" ng-model="db.subjType">
                            <button type="button" class="btn btn-primary" ng-click="addSubject(db)">Add Subject</button>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 form-group">
                    <label for="{{db.id}}_types">Types</label>
                    <ul class="list-group" id="{{db.id}}_types">
                        <li class="list-group-item" ng-repeat="type in db.types">
                            <button type="button" class="btn btn-primary" ng-click="deleteType(db,type)">Delete</button>
                            {{type.type}}
                        </li>
                        <li class="list-group-item form-inline">
                            <select class="form-control" ng-model="db.selType" ng-options="typ.type for typ in DBList.types">
                            </select>
                            <button type="button" class="btn btn-primary" ng-click="addType(db)">Add Type</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary" ng-click="updateDB(db)">Update information</button>
                <button type="button" class="btn btn-primary" ng-click="deleteDB(db)">
                    Delete {{db[0]}} database
                </button>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <pagination total-items="filteredDB.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                boundary-links="true" rotate="false" items-per-page="perPage"></pagination>
</div>

<h3>Create new Database</h3>
<div class="row sdOpen">
    <div class="col-md-12">
        <div class="col-md-6 form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" placeholder="Database Title" ng-model="newDB.title"
                   id="title">
        </div>
        <div class="col-md-3 form-group">
            <label for="Publisher">Publisher</label>
            <input type="text" class="form-control" placeholder="Publisher" ng-model="newDB.publisher"
                   id="Publisher">
        </div>
        <div class="col-md-3 form-group">
            <label for="Vendor">Vendor</label>
            <input type="text" class="form-control" placeholder="Vendor" ng-model="newDB.vendor"
                   id="Vendor">
        </div>
        <div class="col-md-6 form-group">
            <label for="URL">URL</label>
            <input type="text" class="form-control" placeholder="http://www.example.com/" ng-model="newDB.url"
                   id="URL">
        </div>
        <div class="col-md-2 form-group">
            <label for="Location">Location</label>
            <input type="text" class="form-control" placeholder="Location" ng-model="newDB.location"
                   id="Location">
        </div>
        <div class="col-md-1 form-group">
            <label for="NotInEDS">Not in EDS</label>
            <input type="text" class="form-control" ng-model="newDB.notInEDS"
                   id="NotInEDS">
        </div>
        <div class="col-md-1 form-group">
            <label for="Full-text">Fulltext</label>
            <input type="text" class="form-control" ng-model="newDB.hasFullText"
                   id="Full-text">
        </div>
        <div class="col-md-1 form-group">
            <label for="Authenticate">Authenticate</label>
            <input type="checkbox" class="form-control" ng-model="newDB.auth" ng-true-value="'1'" ng-false-value="'0'"
                   id="Authenticate">
        </div>
        <div class="col-md-1 form-group">
            <label for="Disable">Disabled</label>
            <input type="checkbox" class="form-control" ng-model="newDB.disabled" ng-true-value="'1'" ng-false-value="'0'"
                   id="Disable">
        </div>
        <div class="col-md-6 form-group">
            <label for="Coverage">Coverage</label>
            <input type="text" class="form-control" placeholder="Database Coverage" ng-model="newDB.coverage"
                   id="Coverage">
        </div>
        <div class="col-md-6 form-group">
            <label for="Notes">Notes</label>
            <input type="text" class="form-control" placeholder="Notes" ng-model="newDB.notes"
                   id="Notes">
        </div>
        <div class="col-md-12 form-group">
            <label for="descr">Database Description</label>
            <textarea class="form-control" rows="3" id="descr" ng-model="newDB.description"></textarea>
        </div>
        <div class="col-md-2 form-group">
            <label for="presented">Presented by</label>
            <input type="text" class="form-control" placeholder="Presented By" ng-model="newDB.presentedBy"
                   id="presented">
        </div>
        <div class="col-md-2 form-group">
            <label for="Audience1">Audience One</label>
            <input type="text" class="form-control" placeholder="Audience One" ng-model="newDB.audience1"
                   id="Audience1">
        </div>
        <div class="col-md-2 form-group">
            <label for="Audience2">Audience Two</label>
            <input type="text" class="form-control" placeholder="Audience Two" ng-model="newDB.audience2"
                   id="Audience2">
        </div>
        <div class="col-md-3 form-group">
            <label for="dAuthor">Description Author</label>
            <p id="dAuthor">{{updatedBy}}</p>
        </div>
        <div class="col-md-3 form-group">
        </div>
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label for="subjects">Subjects</label>
                <ul class="list-group" id="subjects">
                    <li class="list-group-item" ng-repeat="subject in newDB.subjects">
                        <button type="button" class="btn btn-primary" ng-click="delSubjNewDB($index)">Delete</button>
                        {{subject.subject}} : {{subject.type}}
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-7">
                            <select class="form-control" ng-model="newDB.selSubj" ng-options="sub.subject for sub in DBList.subjects">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="1 or 2" ng-model="newDB.subjType">
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary" ng-click="addSubjNewDB()">Add Subject</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 form-group">
                <label for="types">Types</label>
                <ul class="list-group" id="types">
                    <li class="list-group-item" ng-repeat="type in newDB.types">
                        <button type="button" class="btn btn-primary" ng-click="delTypeNewDB($index)">Delete</button>
                        {{type.type}}
                    </li>
                    <li class="list-group-item form-inline">
                        <select class="form-control" ng-model="newDB.selType" ng-options="typ.type for typ in DBList.types">
                        </select>
                        <button type="button" class="btn btn-primary" ng-click="addTypeNewDB()">Add Type</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary" ng-click="createDB()">Create Database Record</button>
        </div>
    </div>
</div>

