<h3>OneSearch Recommended Links Management</h3>

<form ng-submit="addRecommendation()">
    <div class="row">
        <div class="col-md-3 form-group">
            <label for="K">Keyword</label>
            <input type="text" class="form-control" placeholder="Keyword" maxlength="200" ng-model="addRec.keyword"
                   id="K" required>
        </div>
        <div class="col-md-3 form-group">
            <label for="L">Link</label>
            <input type="text" class="form-control" placeholder="http://www.example.com/" maxlength="1024"
                   id="L" ng-model="addRec.link" required>
        </div>
        <div class="col-md-3 form-group">
            <label for="LT">Link Title</label>
            <input type="text" class="form-control" placeholder="Link Title" maxlength="100" ng-model="addRec.title"
                   id="LT" required>
        </div>
        <div class="col-md-3 form-group">
            <label for="B">&nbsp</label><br>
            <button type="submit" class="btn btn-primary" id="B">Add Recommended Link</button>
        </div>
    </div>
</form>
<div ng-show="response.length > 0">
    {{response}}
</div>
<div class="row">
    <div class="col-md-3 form-group">
        <label for="filterK">Filter by Keyword</label>
        <input type="text" class="form-control" placeholder="Keyword" id="filterK" ng-model="filterKeyword">
    </div>
    <div class="col-md-3 form-group">
        <label for="filterLT">Filter by Link Title</label>
        <input type="text" class="form-control" placeholder="Link Title" id="filterLT" ng-model="filterLinkTitle">
    </div>
    <div class="col-md-3 form-group">
        <label for="filterL">Filter by Link</label>
        <input type="text" class="form-control" placeholder="Link" id="filterL" ng-model="filterLink">
    </div>
</div>

<div class="row">
    <div class="col-md-6"
         ng-repeat="rec in recList.RecList | filter:{keyword:filterKeyword} | filter:{link:filterLink} | filter:{description:filterLinkTitle}">
        <button type="button" class="btn btn-primary" ng-click="deleteRec(rec, $index)">Delete</button>
        <span>{{rec.keyword}} = <a href="{{rec.link}}">{{rec.description}}</a></span>
    </div>
</div>